Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, samples, sdk, test

refactor: refactor services
  e2e/mock-api-v2/README.md
  e2e/mock-api-v2/src/handlers/authorize.ts
  e2e/mock-api-v2/src/handlers/customHtmlTemplate.ts
  e2e/mock-api-v2/src/handlers/token.ts
  e2e/mock-api-v2/src/handlers/userinfo.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/services/authorize.ts
  e2e/mock-api-v2/src/services/customHtmlTemplate.ts
  e2e/mock-api-v2/src/services/fetch-test/index.ts
  e2e/mock-api-v2/src/services/fetch.ts
  e2e/mock-api-v2/src/services/request.ts
  e2e/mock-api-v2/src/services/tokens.ts
  e2e/mock-api-v2/src/services/userinfo.ts
Labels: docs, test

refactor: update-types
  e2e/mock-api-v2/src/handlers/token.ts
  e2e/mock-api-v2/src/helpers/cookie.ts
  e2e/mock-api-v2/src/services/Cookie.ts
  e2e/mock-api-v2/src/services/authorize.ts
  e2e/mock-api-v2/src/services/customHtmlTemplate.ts
  e2e/mock-api-v2/src/services/fetch-test/index.ts
  e2e/mock-api-v2/src/services/request.ts
  e2e/mock-api-v2/src/services/tokens.ts
  e2e/mock-api-v2/src/types/index.ts
Labels: test

refactor: use-layers
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/services/authorize.ts
  e2e/mock-api-v2/src/services/customHtmlTemplate.ts
  e2e/mock-api-v2/src/services/request.ts
  e2e/mock-api-v2/src/services/tokens.ts
  e2e/mock-api-v2/src/services/userinfo.ts
Labels: test

style: rename-files-and-imports
  e2e/mock-api-v2/src/endpoints/custom-html.endpoint.ts
  e2e/mock-api-v2/src/endpoints/davinci-authorize.endpoint.ts
  e2e/mock-api-v2/src/endpoints/open-id-configuration.endpoint.ts
  e2e/mock-api-v2/src/endpoints/token.endpoint.ts
  e2e/mock-api-v2/src/endpoints/userinfo.endpoint.ts
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/handlers/custom-html-template.handler.ts
  e2e/mock-api-v2/src/handlers/open-id-configuration.handler.ts
  e2e/mock-api-v2/src/handlers/token.handler.ts
  e2e/mock-api-v2/src/handlers/userinfo.handler.ts
  e2e/mock-api-v2/src/helpers/cookie.ts
  e2e/mock-api-v2/src/helpers/httpsServer.ts
  e2e/mock-api-v2/src/helpers/match.ts
  e2e/mock-api-v2/src/helpers/routeTypes.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/responses/custom-html-template/ping-protect-node.ts
  e2e/mock-api-v2/src/responses/custom-html-template/username-password.ts
  e2e/mock-api-v2/src/responses/index.ts
  e2e/mock-api-v2/src/responses/invalid-username-password.ts
  e2e/mock-api-v2/src/responses/open-id-configuration.ts
  e2e/mock-api-v2/src/responses/return-success-redirect.ts
  e2e/mock-api-v2/src/responses/username-password.ts
  e2e/mock-api-v2/src/schemas/authorize.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-request.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-response.schema.ts
  e2e/mock-api-v2/src/schemas/open-id-configuration/open-id-configuration-response.schema.ts
  e2e/mock-api-v2/src/schemas/return-success-response-redirect.schema.ts
  e2e/mock-api-v2/src/schemas/token/token.schema.ts
  e2e/mock-api-v2/src/schemas/userinfo/userinfo.schema.ts
  e2e/mock-api-v2/src/services/authorize.service.ts
  e2e/mock-api-v2/src/services/cookie.service.ts
  e2e/mock-api-v2/src/services/custom-html-template.service.ts
  e2e/mock-api-v2/src/services/mock-env-helpers/index.ts
  e2e/mock-api-v2/src/services/request.service.ts
  e2e/mock-api-v2/src/services/tokens.service.ts
  e2e/mock-api-v2/src/services/userinfo.service.ts
  e2e/mock-api-v2/src/spec.ts
  e2e/mock-api-v2/src/types/index.ts
Labels: test

test: write-services-test
  e2e/mock-api-v2/project.json
  e2e/mock-api-v2/src/handlers/token.handler.ts
  e2e/mock-api-v2/src/services/tests/authorize.service.test.ts
  e2e/mock-api-v2/src/services/tests/custom-html-template.service.test.ts
  e2e/mock-api-v2/src/services/tests/token.service.test.ts
  e2e/mock-api-v2/src/services/tests/userinfo.service.test.ts
  e2e/mock-api-v2/src/services/tokens.service.ts
  e2e/mock-api-v2/tsconfig.json
  e2e/mock-api-v2/tsconfig.spec.json
  e2e/mock-api-v2/vite.config.ts
  package-lock.json
  package.json
  vitest.workspace.ts
Labels: NX, root, test

refactor: tests
  e2e/mock-api-v2/src/helpers/match.ts
  e2e/mock-api-v2/src/services/cookie.service.ts
  e2e/mock-api-v2/src/services/custom-html-template.service.ts
  e2e/mock-api-v2/src/services/tests/authorize.service.test.ts
  e2e/mock-api-v2/src/services/tests/cookie.service.test.ts
  e2e/mock-api-v2/src/services/tests/request.service.test.ts
Labels: test

refactor: update-effect-http
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-request.schema.ts
  e2e/mock-api-v2/src/services/authorize.service.ts
  e2e/mock-api-v2/src/services/custom-html-template.service.ts
  e2e/mock-api-v2/src/services/request.service.ts
  e2e/mock-api-v2/src/services/tokens.service.ts
  e2e/mock-api-v2/src/services/userinfo.service.ts
  package-lock.json
  package.json
Labels: root, test

test: add-more-tests
  e2e/mock-api-v2/src/endpoints/custom-html.endpoint.ts
  e2e/mock-api-v2/src/handlers/authorize.handler.ts
  e2e/mock-api-v2/src/helpers/test/cookie.test.ts
  e2e/mock-api-v2/src/helpers/test/match.test.ts
  e2e/mock-api-v2/src/responses/index.ts
  e2e/mock-api-v2/src/services/custom-html-template.service.ts
  e2e/mock-api-v2/src/services/mock-env-helpers/index.ts
  e2e/mock-api-v2/src/services/mock-env-helpers/tests/index.test.ts
  e2e/mock-api-v2/src/services/tests/custom-html-template.service.test.ts
  e2e/mock-api-v2/src/services/tests/token.service.test.ts
  e2e/mock-api-v2/src/types/index.ts
Labels: test

refactor: opaque-types
  e2e/mock-api-v2/.eslintrc.json
  e2e/mock-api-v2/src/helpers/test/cookie.test.ts
  e2e/mock-api-v2/src/schemas/authorize.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-request.schema.ts
  e2e/mock-api-v2/src/schemas/custom-html-template/custom-html-template-response.schema.ts
  e2e/mock-api-v2/src/schemas/open-id-configuration/open-id-configuration-response.schema.ts
  e2e/mock-api-v2/src/schemas/return-success-response-redirect.schema.ts
  e2e/mock-api-v2/src/schemas/token/token.schema.ts
  e2e/mock-api-v2/src/schemas/userinfo/userinfo.schema.ts
  e2e/mock-api-v2/src/services/mock-env-helpers/tests/index.test.ts
Labels: test

build: update-nx-19
  .eslintrc.json
  .github/workflows/merge.yml
  .github/workflows/regress.yml
  .gitignore
  .prettierignore
  nx.json
  package-lock.json
  package.json
  tools/release/regression.mjs
Labels: CI, NX, root

test: add-new-mock-to-autoscript
  e2e/autoscript-suites/playwright.config.ts
  e2e/mock-api-v2/src/main.ts
Labels: test

chore: update-nx
  .eslintrc.json
  .prettierignore
  package-lock.json
  package.json
Labels: root

feat: ping-fed-central-login
  package-lock.json
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
Labels: root, sdk

feat: support-metadata-marketplace-protect
  packages/javascript-sdk/project.json
  packages/javascript-sdk/src/fr-auth/callbacks/metadata-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/metadata-callback.ts
  packages/javascript-sdk/vite.config.ts
Labels: NX, sdk, test

test: add-e2e
  e2e/autoscript-apps/index.html
  e2e/autoscript-apps/src/authn-protect-metadata/autoscript.ts
  e2e/autoscript-apps/src/authn-protect-metadata/index.html
  e2e/mock-api-v2/project.json
  e2e/mock-api-v2/src/example-server.ts
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  packages/javascript-sdk/src/fr-auth/callbacks/metadata-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/metadata-callback.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-evaluation-callback.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
Labels: NX, sdk, test

chore: update-nx-19
  e2e/autoscript-apps/project.json
  e2e/autoscript-apps/vite.config.ts
  e2e/autoscript-suites/.eslintignore
  e2e/autoscript-suites/project.json
  e2e/mock-api-v2/project.json
  e2e/mock-api-v2/vite.config.ts
  e2e/mock-api/.eslintignore
  e2e/mock-api/project.json
  e2e/token-vault-app/.eslintignore
  e2e/token-vault-app/project.json
  e2e/token-vault-proxy/.eslintignore
  e2e/token-vault-proxy/project.json
  e2e/token-vault-suites/.eslintignore
  e2e/token-vault-suites/project.json
  nx.json
  package.json
  packages/javascript-sdk/.eslintignore
  packages/javascript-sdk/project.json
  packages/javascript-sdk/vite.config.ts
  packages/ping-protect/.eslintignore
  packages/ping-protect/project.json
  packages/ping-protect/src/lib/ping-signals-sdk.js
  packages/ping-protect/vite.config.ts
  packages/token-vault/.eslintignore
  packages/token-vault/project.json
  packages/token-vault/vite.config.ts
Labels: NX, root, sdk, test

chore: upgrade-pnpm
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  .gitignore
  nx.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: CI, NX, root

test: adding-e2e-test
  e2e/autoscript-apps/src/authn-protect-metadata/autoscript.ts
  e2e/autoscript-suites/src/suites/authn-ping-marketplace.test.ts
  package-lock.json
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-evaluation-callback.ts
Labels: root, sdk, test

chore: pnpm-update-references
  .eslintignore
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  .husky/commit-msg
  .husky/prepare-commit-msg
  .lintstagedrc
  CONTRIBUTING.md
  e2e/autoscript-apps/package.json
  e2e/token-vault-app/package.json
  e2e/token-vault-proxy/package.json
  e2e/token-vault-suites/playwright.config.ts
  package.json
  packages/javascript-sdk/.eslintignore
  packages/ping-protect/.eslintignore
  packages/ping-protect/package.json
  packages/token-vault/.eslintignore
  packages/token-vault/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: CI, docs, root, sdk, test

chore: update-configs
  e2e/autoscript-apps/.eslintignore
  e2e/mock-api-v2/.eslintignore
  e2e/mock-api-v2/package.json
  e2e/mock-api/.eslintignore
  e2e/token-vault-app/.eslintignore
  e2e/token-vault-proxy/.eslintignore
  e2e/token-vault-suites/.eslintignore
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/tsconfig.lib.json
  packages/javascript-sdk/vite.config.ts
  packages/ping-protect/.eslintignore
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/vite.config.ts
  packages/token-vault/.eslintignore
  packages/token-vault/package.json
  packages/token-vault/project.json
  packages/token-vault/tsconfig.lib.json
  packages/token-vault/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: NX, root, sdk, test

chore: update-release-scripts
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  .npmrc
  e2e/autoscript-apps/package.json
  e2e/autoscript-suites/package.json
  e2e/mock-api-v2/package.json
  e2e/mock-api-v2/tsconfig.app.json
  e2e/mock-api-v2/tsconfig.spec.json
  e2e/mock-api/package.json
  e2e/mock-api/tsconfig.app.json
  e2e/mock-api/tsconfig.spec.json
  e2e/token-vault-app/package.json
  e2e/token-vault-proxy/package.json
  e2e/token-vault-suites/package.json
  nx.json
  package.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/vite.config.ts
  packages/ping-protect/package.json
  packages/ping-protect/tsconfig.lib.json
  packages/ping-protect/vite.config.ts
  packages/token-vault/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/release/beta.mjs
  tools/release/dev.mjs
  tools/release/local.mjs
  tsconfig.base.json
Labels: CI, NX, root, sdk, test

test: testing-ci
  README.md
Labels: docs, root

chore: fix-main-branch-name
  .github/workflows/ci.yml
  package-lock.json
  package.json
Labels: CI, root

chore: update-package.json
  package-lock.json
  package.json
Labels: root

chore: update-nx
  .prettierignore
  package-lock.json
  package.json
Labels: root

chore: update-checkout
  .github/workflows/ci.yml
Labels: CI

chore: downgrade checkout
  .github/workflows/ci.yml
Labels: CI

refactor: refactor to move method to piprotect
  e2e/autoscript-apps/src/authn-protect-metadata/autoscript.ts
  packages/javascript-sdk/src/fr-auth/callbacks/metadata-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/metadata-callback.ts
  packages/ping-protect/src/lib/ping-protect.test.ts
  packages/ping-protect/src/lib/ping-protect.ts
  packages/ping-protect/tsconfig.json
  packages/ping-protect/tsconfig.lib.json
Labels: sdk, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

samples:
  - samples/**/*

sdk:
  - packages/javascript-sdk/*
  - packages/javascript-sdk/**/*

test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js
