Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, samples, sdk, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

samples:
  - samples/**/*

sdk:
  - packages/javascript-sdk/*
  - packages/javascript-sdk/**/*

test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js

build: remove-beta-from-ci-use-verdaccio
  .changeset/pre.json
  .changeset/strange-olives-count.md
  .github/workflows/merge.yml
  .verdaccio/config.yml
  .verdaccio/htpasswd
  package-lock.json
  package.json
  project.json
Labels: CI, docs, NX, root

test(token-vault): improve e2e automation feature testing
  .gitignore
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  e2e/token-vault-app/index.html
  e2e/token-vault-app/src/interceptor.ts
  e2e/token-vault-app/src/main.ts
  e2e/token-vault-app/tsconfig.app.json
  e2e/token-vault-proxy/src/main.ts
  e2e/token-vault-proxy/tsconfig.app.json
  e2e/token-vault-suites/src/app.test.ts
  e2e/token-vault-suites/src/basic.test.ts
  e2e/token-vault-suites/src/utils/async-events.ts
  packages/token-vault/src/lib/client.ts
  packages/token-vault/src/lib/client.types.ts
Labels: root, test

feat: process-json-advice-headers
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  e2e/autoscript-apps/src/authz-tree-basic-json/UsernamePassword.png
  e2e/autoscript-apps/src/authz-tree-basic-json/autoscript.ts
  e2e/autoscript-apps/src/authz-tree-basic-json/index.html
  e2e/autoscript-apps/src/authz-tree-basic-redirect/UsernamePassword.png
  e2e/autoscript-apps/src/authz-tree-basic-redirect/autoscript.ts
  e2e/autoscript-apps/src/authz-tree-basic-redirect/index.html
  e2e/autoscript-apps/src/authz-txn-basic-json/UsernamePassword.png
  e2e/autoscript-apps/src/authz-txn-basic-json/autoscript.ts
  e2e/autoscript-apps/src/authz-txn-basic-json/index.html
  e2e/autoscript-apps/src/authz-txn-basic-redirect/UsernamePassword.png
  e2e/autoscript-apps/src/authz-txn-basic-redirect/autoscript.ts
  e2e/autoscript-apps/src/authz-txn-basic-redirect/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/authz-tree-basic-json.test.ts
  e2e/autoscript-suites/src/suites/authz-tree-basic-redirect.test.ts
  e2e/autoscript-suites/src/suites/authz-txn-basic-json.test.ts
  e2e/autoscript-suites/src/suites/authz-txn-basic-redirect.test.ts
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  e2e/mock-api/src/app/routes.resource.js
  e2e/mock-api/src/index.js
  packages/javascript-sdk/src/http-client/helpers.test.ts
  packages/javascript-sdk/src/http-client/helpers.ts
  packages/javascript-sdk/src/http-client/http-client.mock.data.ts
  packages/javascript-sdk/src/http-client/index.ts
Labels: CI, sdk, test

refactor(javascript-sdk): ensure revokeToken supports Token Vault
  .env.local.example
  package.json
  packages/javascript-sdk/src/oauth2-client/index.ts
  samples/angular-todo/src/environments/environment.ts
Labels: root, samples, sdk

social login first commit
  samples/angular-todo/src/app/app.component.ts
  samples/angular-todo/src/app/app.module.ts
  samples/angular-todo/src/app/features/journey/form/form.component.html
  samples/angular-todo/src/app/features/journey/form/form.component.ts
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.css
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.html
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.spec.ts
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.ts
  samples/angular-todo/src/app/icons/apple-icon/apple-icon.component.html
  samples/angular-todo/src/app/icons/apple-icon/apple-icon.component.ts
  samples/angular-todo/src/app/icons/google-icon/google-icon.component.html
  samples/angular-todo/src/app/icons/google-icon/google-icon.component.ts
  samples/angular-todo/src/app/views/home/home.component.ts
  samples/angular-todo/src/environments/environment.ts
  samples/angular-todo/src/index.html
  samples/angular-todo/src/styles/_custom-styles.scss
  samples/angular-todo/tsconfig.editor.json
  samples/angular-todo/tsconfig.json
Labels: samples

chore(javascript-sdk): update-for-release
  .changeset/afraid-bears-hang.md
  .changeset/config.json
  .changeset/pre.json
  .changeset/sharp-jars-sniff.md
  .github/workflows/merge.yml
  .verdaccio/config.yml
  .verdaccio/htpasswd
  CHANGELOG.md
  package-lock.json
  package.json
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/tsconfig.lib.json
  packages/token-vault/package.json
  project.json
Labels: CI, docs, NX, root, sdk

test(token-vault): disable token-vault e2e suites in CI
  .github/workflows/ci.yml
Labels: CI

build: compile-interceptor compile interceptor and move to public dir
  .gitignore
  e2e/token-vault-app/.env.example
  e2e/token-vault-app/project.json
  e2e/token-vault-app/src/main.ts
  e2e/token-vault-app/vite.interceptor.config.ts
  e2e/token-vault-proxy/.env.example
  nx.json
  package-lock.json
  package.json
Labels: NX, root, test

fix(token-vault): removing /sessions endpoint from interception
  e2e/token-vault-app/project.json
  e2e/token-vault-app/vite.config.ts
  e2e/token-vault-app/vite.interceptor.config.ts
  nx.json
  package.json
  shared/workers/src/lib/worker.utilities.test.ts
  shared/workers/src/lib/worker.utilities.ts
Labels: NX, root, test

fix(javascript-sdk): get-tokens-default-destructure
  packages/javascript-sdk/src/token-manager/index.test.ts
  packages/javascript-sdk/src/token-manager/index.ts
Labels: sdk, test

chore: update-package-version
  packages/javascript-sdk/package.json
Labels: sdk

chore(javascript-sdk): remove-extra-return
  packages/javascript-sdk/src/oauth2-client/index.ts
Labels: sdk

chore(javascript-sdk): update-changelog
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

docs(token-vault): add readme
  packages/token-vault/README.md
Labels: docs

chore(token-vault): update-metadata-for-release
  CHANGELOG.md
  package-lock.json
  packages/token-vault/CHANGELOG.md
  packages/token-vault/LICENSE
  packages/token-vault/package.json
  packages/token-vault/rollup.config.js
  samples/angular-todo/src/environments/environment.ts
Labels: docs, root, samples

build(async-events): create-async-events-package
  .eslintrc.json
  .github/workflows/ci.yml
  e2e/token-vault-app/src/main.ts
  e2e/token-vault-suites/project.json
  e2e/token-vault-suites/src/basic.test.ts
  package-lock.json
  packages/async-events/.babelrc
  packages/async-events/.eslintrc.json
  packages/async-events/README.md
  packages/async-events/package.json
  packages/async-events/project.json
  packages/async-events/src/index.ts
  packages/async-events/src/lib/async-events.spec.ts
  packages/async-events/src/lib/async-events.ts
  packages/async-events/tsconfig.json
  packages/async-events/tsconfig.lib.json
  packages/async-events/tsconfig.spec.json
  packages/async-events/vite.config.ts
  tools/scripts/publish.mjs
  tsconfig.base.json
Labels: CI, docs, NX, root, test

Adding support on the Embedded sample to capture and follow the goto URL param upon successful authentication
  samples/embedded-login/src/main.js
Labels: samples

remove useless code
  samples/angular-todo/src/app/features/journey/form/form.component.html
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.css
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.ts
  samples/angular-todo/src/app/views/home/home.component.ts
  samples/angular-todo/src/index.html
Labels: samples

fixes for comments left from PR
  samples/angular-todo/src/app/app-routing.module.ts
  samples/angular-todo/src/app/app.component.ts
  samples/angular-todo/src/app/features/journey/form/form.component.ts
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.html
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.ts
  samples/angular-todo/src/app/shared/idps.enums.ts
Labels: samples

callback static file
  samples/angular-todo/project.json
  samples/angular-todo/src/app/app-routing.module.ts
  samples/angular-todo/src/app/app.component.ts
  samples/angular-todo/src/callback.html
Labels: NX, samples

docs(javascript-sdk): fix-changelog
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

feat(angular-todo): removing failing test
  samples/angular-todo/src/app/features/journey/form/form.component.ts
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.html
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.spec.ts
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.ts
  samples/angular-todo/src/app/shared/idps.types.ts
Labels: samples

feat(angular-todo): add support for social login
  samples/angular-todo/src/app/features/journey/form/form.component.ts
Labels: samples

feat(javascript-sdk): add-logger-class
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/fr-device/index.ts
  packages/javascript-sdk/src/fr-user/index.ts
  packages/javascript-sdk/src/logger/index.test.ts
  packages/javascript-sdk/src/logger/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
  packages/javascript-sdk/src/token-storage/index.ts
Labels: sdk, test

fix(token-vault): security patch for non-interceptor originating proxy requests
  e2e/token-vault-proxy/src/main.ts
  packages/token-vault/README.md
  packages/token-vault/src/lib/proxy.ts
  shared/network/src/lib/network.utilities.test.ts
  shared/network/src/lib/network.utilities.ts
  shared/types/src/lib/config.types.ts
  shared/workers/src/lib/interceptor.ts
Labels: docs, test

refactor(javascript-sdk): refactor-for-custom-logger
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/fr-device/index.ts
  packages/javascript-sdk/src/fr-user/index.ts
  packages/javascript-sdk/src/http-client/helpers.ts
  packages/javascript-sdk/src/logger/index.test.ts
  packages/javascript-sdk/src/logger/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
  packages/javascript-sdk/src/token-storage/index.ts
  packages/javascript-sdk/src/util/logger.test.ts
  packages/javascript-sdk/src/util/logger.ts
  packages/javascript-sdk/tests/integration/oauth2-client.test.ts
  packages/javascript-sdk/tests/integration/token-storage.test-deactivate.ts
  samples/angular-todo/src/environments/environment.ts
Labels: samples, sdk, test

fix(token-vault): add missing am urls to allowed origin generation
  e2e/mock-api/src/app/routes.auth.js
  packages/token-vault/src/lib/proxy.ts
Labels: test

test(token-vault): allowed-origins-test
  e2e/token-vault-app/index.html
  e2e/token-vault-app/src/main.ts
  e2e/token-vault-suites/project.json
  e2e/token-vault-suites/src/basic.test.ts
  shared/network/src/lib/network.utilities.test.ts
  shared/workers/src/lib/interceptor.test.ts
Labels: NX, test

refactor(javascript-sdk): make-origins-required
  packages/token-vault/src/lib/proxy.ts
  shared/types/src/lib/config.types.ts
Labels: none

feat(angular-todo): new webAuthn log in option
  samples/angular-todo/src/app/app.component.ts
  samples/angular-todo/src/app/app.module.ts
  samples/angular-todo/src/app/features/journey/confirmation/confirmation.component.html
  samples/angular-todo/src/app/features/journey/confirmation/confirmation.component.ts
  samples/angular-todo/src/app/features/journey/form/form.component.html
  samples/angular-todo/src/app/features/journey/form/form.component.ts
  samples/angular-todo/src/app/features/journey/textOutput/textOutput.component.html
  samples/angular-todo/src/app/features/journey/textOutput/textOutput.component.ts
  samples/angular-todo/src/app/features/journey/webAuthn/webAuthn.component.html
  samples/angular-todo/src/app/features/journey/webAuthn/webAuthn.component.ts
  samples/angular-todo/src/app/icons/finger-print-icon/finger-print-icon.component.html
  samples/angular-todo/src/app/icons/finger-print-icon/finger-print-icon.component.ts
  samples/angular-todo/src/app/utilities/loading/loading.component.html
  samples/angular-todo/src/app/utilities/loading/loading.component.ts
  samples/angular-todo/src/app/views/login/login.component.html
  samples/angular-todo/src/app/views/register/register.component.html
  samples/angular-todo/src/app/views/register/register.component.ts
  samples/angular-todo/src/styles/_custom-styles.scss
Labels: samples

fix(javascript-sdk): expose-logger-functions-type
  packages/javascript-sdk/src/index.ts
Labels: sdk

chore: update-versions
  packages/javascript-sdk/package.json
  packages/token-vault/package.json
Labels: sdk

docs: update-changelogs
  package-lock.json
  packages/javascript-sdk/CHANGELOG.md
  packages/token-vault/CHANGELOG.md
Labels: docs, root, sdk

feat(javascript-sdk): add QR Code utility class
  e2e/autoscript-apps/src/authn-otp-reg/autoscript.ts
  e2e/autoscript-apps/src/authn-otp-reg/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/authn-otp-reg.test.ts
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  e2e/token-vault-suites/src/basic.test.ts
  packages/javascript-sdk/src/fr-qr-code/index.mock.data.ts
  packages/javascript-sdk/src/fr-qr-code/index.test.ts
  packages/javascript-sdk/src/fr-qr-code/index.ts
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.mock.data.ts
  packages/javascript-sdk/src/index.ts
Labels: sdk, test

build: remove-access-token-nx
  .github/workflows/ci.yml
  .github/workflows/commit-check.yml
  .github/workflows/destroy_preview.yml
  .github/workflows/labeler.yml
  .github/workflows/merge.yml
  .github/workflows/preview.yml
  .gitignore
  Dockerfile
  nx-cloud.example.env
  nx.json
  package.json
Labels: CI, NX, root

build: remove-cloud-commands
  package.json
  samples/angular-todo/.env.example
  samples/angular-todo/src/environments/environment.ts
  samples/central-login/.env.example
  samples/embedded-login/.env.example
  samples/reactjs-todo/.env.example
  samples/todo-api/.env.example
Labels: root, samples

build: remove-access-token-nx
  .github/workflows/ci.yml
  .github/workflows/commit-check.yml
  .github/workflows/destroy_preview.yml
  .github/workflows/labeler.yml
  .github/workflows/merge.yml
  .github/workflows/preview.yml
  .gitignore
  Dockerfile
  nx-cloud.example.env
  nx.json
  package.json
Labels: CI, NX, root

build: remove-cloud-commands
  package.json
  samples/angular-todo/.env.example
  samples/angular-todo/src/environments/environment.ts
  samples/central-login/.env.example
  samples/embedded-login/.env.example
  samples/reactjs-todo/.env.example
  samples/todo-api/.env.example
Labels: root, samples

feat(reactjs-todo): add WebAuthn support for react todo sample app
  samples/reactjs-todo/client/components/icons/finger-print-icon.js
  samples/reactjs-todo/client/components/journey/confirmation.js
  samples/reactjs-todo/client/components/journey/form.js
  samples/reactjs-todo/client/components/journey/text-output.js
  samples/reactjs-todo/client/components/journey/web-authn.js
  samples/reactjs-todo/client/components/utilities/loading.js
  samples/reactjs-todo/client/views/login.js
  samples/reactjs-todo/client/views/register.js
Labels: samples

chore(reactjs-todo): fix journey-state with multi-step failure
  samples/reactjs-todo/client/components/journey/form.js
  samples/reactjs-todo/client/components/journey/journey-state.js
  samples/reactjs-todo/client/components/journey/text-output.js
  samples/reactjs-todo/client/components/journey/web-authn.js
Labels: samples
