Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, davinci-client, device-client, ping-protect, test

fix: package-json-exports
  .changeset/khaki-feet-cheer.md
  packages/javascript-sdk/package.json
Labels: docs

chore: configure changesets/action
  .github/workflows/publish.yml
Labels: CI

chore: update-nx.json
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  e2e/autoscript-apps/vite.config.ts
  e2e/mock-api-v2/vite.config.ts
  nx.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/vite.config.ts
  packages/ping-protect/LICENSE
  packages/ping-protect/README.md
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/vite.config.ts
  packages/token-vault/vite.config.ts
Labels: CI, docs, NX, root, test

chore: update-shared-globals
  nx.json
  packages/ping-protect/README.md
Labels: docs, NX, root

chore(ping-protect): update signals sdk
  packages/ping-protect/package.json
  packages/ping-protect/src/lib/ping-signals-sdk.js
Labels: none

chore: fix-issues
  e2e/autoscript-apps/src/authn-basic-self-service/autoscript.ts
  e2e/token-vault-app/tsconfig.app.json
  e2e/token-vault-interceptor/tsconfig.lib.json
Labels: test

feat: update protect module and callbacks
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/src/lib/ping-protect.ts
  packages/ping-protect/src/lib/ping-protect.types.ts
  pnpm-lock.yaml
Labels: root, test

fix: small fixes from PR review and feedback
  .changeset/lucky-balloons-repeat.md
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/src/suites/authn-protect.test.ts
  e2e/token-vault-suites/playwright.config.ts
  package.json
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/package.json
  pnpm-lock.yaml
Labels: docs, root, test

chore: update-shared-globals
  nx.json
  packages/ping-protect/README.md
Labels: docs, NX, root

chore: add beta publishing feature and npm trusted publishing
  .github/actions/setup-publish/action.yml
  .github/workflows/publish.yml
  .node-version
  contributing_docs/releases.md
  package.json
  pnpm-lock.yaml
Labels: CI, docs, root

chore: fix publish workflow for real
  .github/actions/setup-publish/action.yml
  .github/workflows/publish.yml
Labels: CI

chore: move repo checkout on publish workflow
  .github/actions/setup-publish/action.yml
  .github/workflows/publish.yml
Labels: CI

fix: package-json-exports
  .changeset/khaki-feet-cheer.md
  packages/javascript-sdk/package.json
Labels: docs

chore: configure changesets/action
  .github/workflows/publish.yml
Labels: CI

chore: update-nx.json
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  e2e/autoscript-apps/vite.config.ts
  e2e/mock-api-v2/vite.config.ts
  nx.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/vite.config.ts
  packages/ping-protect/LICENSE
  packages/ping-protect/README.md
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/vite.config.ts
  packages/token-vault/vite.config.ts
Labels: CI, docs, NX, root, test

chore: add ci workflow for forks
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
Labels: CI

chore(ping-protect): update signals sdk
  packages/ping-protect/package.json
  packages/ping-protect/src/lib/ping-signals-sdk.js
Labels: none

chore: fix-issues
  e2e/autoscript-apps/src/authn-basic-self-service/autoscript.ts
  e2e/token-vault-app/tsconfig.app.json
  e2e/token-vault-interceptor/tsconfig.lib.json
Labels: test

feat: update protect module and callbacks
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/src/lib/ping-protect.ts
  packages/ping-protect/src/lib/ping-protect.types.ts
  pnpm-lock.yaml
Labels: root, test

fix: small fixes from PR review and feedback
  .changeset/lucky-balloons-repeat.md
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/src/suites/authn-protect.test.ts
  e2e/token-vault-suites/playwright.config.ts
  package.json
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/package.json
  pnpm-lock.yaml
Labels: docs, root, test

chore(ping-protect): update signals sdk
  packages/ping-protect/package.json
Labels: none

fix: small fixes from PR review and feedback
  packages/ping-protect/package.json
Labels: none

fix: small fixes from PR review and feedback
  packages/ping-protect/package.json
Labels: none

chore(ping-protect): update signals sdk
  packages/ping-protect/package.json
Labels: none

chore: configure changesets/action
  .github/workflows/publish.yml
Labels: CI

chore: update-nx.json
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  e2e/autoscript-apps/vite.config.ts
  e2e/mock-api-v2/vite.config.ts
  nx.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/vite.config.ts
  packages/ping-protect/LICENSE
  packages/ping-protect/README.md
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/vite.config.ts
  packages/token-vault/vite.config.ts
Labels: CI, docs, NX, root, test

chore: move repo checkout on publish workflow
  .github/actions/setup-publish/action.yml
  .github/workflows/publish.yml
Labels: CI

chore: add ci workflow for forks
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
Labels: CI

chore: update-shared-globals
  nx.json
  packages/ping-protect/README.md
Labels: docs, NX, root

chore: add beta publishing feature and npm trusted publishing
  .github/actions/setup-publish/action.yml
  .github/workflows/publish.yml
  .node-version
  contributing_docs/releases.md
  package.json
  pnpm-lock.yaml
Labels: CI, docs, root

chore: fix publish workflow for real
  .github/actions/setup-publish/action.yml
  .github/workflows/publish.yml
Labels: CI

fix: package-json-exports
  .changeset/khaki-feet-cheer.md
  packages/javascript-sdk/package.json
Labels: docs

chore(ping-protect): update signals sdk
  packages/ping-protect/package.json
  packages/ping-protect/src/lib/ping-signals-sdk.js
Labels: none

feat: update protect module and callbacks
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/src/lib/ping-protect.ts
  packages/ping-protect/src/lib/ping-protect.types.ts
  pnpm-lock.yaml
Labels: root, test

chore: fix-issues
  e2e/autoscript-apps/src/authn-basic-self-service/autoscript.ts
  e2e/token-vault-app/tsconfig.app.json
  e2e/token-vault-interceptor/tsconfig.lib.json
Labels: test

fix: small fixes from PR review and feedback
  .changeset/lucky-balloons-repeat.md
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/src/suites/authn-protect.test.ts
  e2e/token-vault-suites/playwright.config.ts
  package.json
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/package.json
  pnpm-lock.yaml
Labels: docs, root, test

chore(ping-protect): update signals sdk
  packages/ping-protect/package.json
Labels: none

fix: small fixes from PR review and feedback
  packages/ping-protect/package.json
Labels: none

chore: update-nx
  .gitignore
  e2e/autoscript-apps/.eslintrc.json
  e2e/autoscript-apps/src/authn-central-login-wellknown/autoscript.ts
  e2e/autoscript-apps/src/authn-protect/autoscript.ts
  e2e/autoscript-suites/project.json
  e2e/mock-api-v2/.eslintrc.json
  e2e/token-vault-app/.eslintrc.json
  e2e/token-vault-interceptor/.eslintrc.json
  e2e/token-vault-proxy/.eslintrc.json
  nx.json
  package.json
  packages/javascript-sdk/.eslintrc.json
  packages/ping-protect/.eslintrc.json
  packages/token-vault/.eslintrc.json
  pnpm-lock.yaml
Labels: NX, root, test

fix(javascript-sdk): add support for KBA allowUserDefinedQuestions flag
  .changeset/wild-gifts-move.md
  e2e/autoscript-apps/src/register-basic/autoscript.ts
  e2e/autoscript-suites/src/suites/register-basic.lc.test.ts
  e2e/mock-api/src/app/response.registration.js
  packages/javascript-sdk/src/fr-auth/callbacks/kba-create-callback.ts
Labels: docs, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

ping-protect: -packages/ping-protect/*
test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js
