Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, davinci-client, device-client, ping-protect, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

ping-protect: -packages/ping-protect/*
test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js

fix: prevent destructuring error when reading from stored auth Url values
  packages/javascript-sdk/src/oauth2-client/state-pkce.ts
  packages/javascript-sdk/src/token-manager/index.ts
Labels: none

chore: update release docs
  contributing_docs/releases.md
Labels: docs

feat: enforce copyright headers via eslint-plugin-header
  .eslintrc.json
  e2e/autoscript-apps/src/index.ts
  e2e/autoscript-suites/config.ts
  e2e/mock-api/src/environments/environment.prod.ts
  e2e/mock-api/src/environments/environment.ts
  e2e/token-vault-suites/teardown.ts
  package.json
  packages/javascript-sdk/src/device-client/mock-data/msw-mock-data.ts
  packages/javascript-sdk/src/fr-recovery-codes/script-text.mock.data.ts
  packages/javascript-sdk/src/fr-webauthn/script-parser.ts
  pnpm-lock.yaml
  tools/copyright/sync-header-years.mjs
  tools/copyright/sync-header-years.test.mjs
Labels: root, test

feat: Add Pre-Commit Copyright Date Check & Fix Automation (#583)
  .eslintrc.json
  .husky/pre-commit
  e2e/autoscript-apps/src/index.ts
  e2e/autoscript-suites/config.ts
  e2e/mock-api/src/environments/environment.prod.ts
  e2e/mock-api/src/environments/environment.ts
  e2e/token-vault-suites/teardown.ts
  package.json
  packages/javascript-sdk/src/device-client/mock-data/msw-mock-data.ts
  packages/javascript-sdk/src/fr-recovery-codes/script-text.mock.data.ts
  packages/javascript-sdk/src/fr-webauthn/script-parser.ts
  pnpm-lock.yaml
  tools/copyright/sync-header-years.mjs
  tools/copyright/sync-header-years.test.mjs
Labels: root, test

Updating README with maintenance information
  README.md
Labels: docs, root

Fixing link on Ping Identity logo
  README.md
Labels: docs, root

Addressing comments from Gabriel
  README.md
Labels: docs, root

docs: fix callout rendering and align branding with Ping Identity
  README.md
Labels: docs, root

ci: align Node version with .node-version to fix pkg-pr-new fetch crash
  .github/workflows/ci.yml
Labels: CI

fix: retrieve WebAuthn credentials inside try/catch OPENAM-26284
  .changeset/fix-webauthn-cancel-error.md
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.test.ts
  packages/javascript-sdk/src/fr-webauthn/index.ts
Labels: docs, test

docs: update sample app links to correct sdk-sample-apps paths
  README.md
  packages/javascript-sdk/README.md
Labels: docs, root

chore(context): add canonical AGENTS.md with SDK architectural context
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Labels: CI, docs, root

SDKS-5133: Add AI Agent Context Files to Repository (#590)
  .github/copilot-instructions.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  GEMINI.md
Labels: CI, docs, root

chore(security): switch mend check to full repo baseline scan
  .whitesource
Labels: root

chore(security): switch mend check to full repo baseline scan (#591)
  .whitesource
Labels: root

fix(ci): pin npm bump to v10 to match node 20 engine requirement
  .github/actions/setup-publish/action.yml
Labels: CI

fix(token-vault): replace substring endpoint dispatch with exact AM endpoint matching (SDKS-5448)
  e2e/token-vault-suites/src/basic.test.ts
  packages/token-vault/src/lib/network/network.utilities.ts
  packages/token-vault/src/lib/proxy.endpoints.test.ts
  packages/token-vault/src/lib/proxy.ts
Labels: test

fix(token-vault): compose vault-owned AM URLs for endpoint dispatch (SDKS-5448)
  e2e/token-vault-suites/src/basic.test.ts
  packages/token-vault/src/lib/proxy.ts
Labels: test

fix(token-vault): compose vault-owned AM URLs for endpoint dispatch (SDKS-5448)
  e2e/token-vault-suites/src/basic.test.ts
  packages/token-vault/README.md
  packages/token-vault/src/lib/proxy.ts
Labels: docs, test
