Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, samples, sdk, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

samples:
  - samples/**/*

sdk:
  - packages/javascript-sdk/*
  - packages/javascript-sdk/**/*

test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js

refactor: move advice format header to http client
  e2e/autoscript-apps/src/authz-txn-basic-json/autoscript.ts
  packages/javascript-sdk/src/http-client/index.ts
Labels: sdk, test

chore: rename authenticate by tree tests based on ig response type
  e2e/autoscript-apps/src/authz-tree-basic-redirect/UsernamePassword.png
  e2e/autoscript-apps/src/authz-tree-basic-redirect/autoscript.ts
  e2e/autoscript-apps/src/authz-tree-basic-redirect/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/authz-tree-basic.test.ts
Labels: test

test: fixed interactions across txn and tree based authentication e2e apps and mock server
  e2e/autoscript-apps/src/authz-tree-basic-redirect/autoscript.ts
  e2e/autoscript-suites/src/suites/authz-tree-basic-redirect.test.ts
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  e2e/mock-api/src/app/routes.resource.js
Labels: test

test: add tree auth test suite and app for ig json response
  e2e/autoscript-apps/src/authz-tree-basic-json/UsernamePassword.png
  e2e/autoscript-apps/src/authz-tree-basic-json/autoscript.ts
  e2e/autoscript-apps/src/authz-tree-basic-json/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/authz-tree-basic-json.test.ts
Labels: test

fix: remove-whitesource-action
  .github/workflows/merge.yml
Labels: CI

fix: remove-release-token the release token is failing merge ci, and it probably isn't needed. if it is we need to re create it and i don't have access to create it.
  .github/workflows/merge.yml
Labels: CI

fix: wrong-version
  .github/workflows/merge.yml
Labels: CI

fix: merge.yml
  .github/workflows/merge.yml
Labels: CI

fix: release-process
  .github/workflows/merge.yml
Labels: CI

fix: release
  .github/workflows/merge.yml
Labels: CI

chore: narrow scope of params for helper functions for ig headers and add unit tests
  packages/javascript-sdk/src/http-client/helpers.test.ts
  packages/javascript-sdk/src/http-client/helpers.ts
  packages/javascript-sdk/src/http-client/http-client.mock.data.ts
  packages/javascript-sdk/src/http-client/index.ts
Labels: sdk, test

fix: release-ssh-key
  .github/workflows/merge.yml
Labels: CI

fix: ssh-key-2
  .github/workflows/merge.yml
Labels: CI

release: 3.4.1-beta.0 [skip ci]
  packages/javascript-sdk/package.json
Labels: sdk

chore: remove-version
  packages/javascript-sdk/package.json
Labels: sdk

release: 3.4.1-beta.0 [skip ci]
  packages/javascript-sdk/package.json
Labels: sdk

fix: remove-beta
  packages/javascript-sdk/package.json
Labels: sdk

chore: upgrade-infrastructure
  e2e/autoscript-apps/.babelrc
  e2e/autoscript-apps/package.json
  e2e/autoscript-apps/project.json
  e2e/autoscript-apps/src/umd-bundle-check/autoscript.ts
  e2e/autoscript-apps/webpack.config.js
  migrations.json
  package-lock.json
  package.json
  packages/javascript-sdk/.babelrc
  packages/javascript-sdk/package.json
  packages/javascript-sdk/tsconfig.cjs.json
  packages/javascript-sdk/tsconfig.esm.json
  packages/javascript-sdk/tsconfig.lib.json
  samples/angular-todo/package.json
  samples/embedded-login/.babelrc
  samples/reactjs-todo/.babelrc
  samples/reactjs-todo/package.json
  tsconfig.base.json
Labels: NX, root, samples, sdk, test

release: 3.4.1-beta.0 [skip ci]
  packages/javascript-sdk/package.json
Labels: sdk

ci: docker-files
  Dockerfile
  samples/angular-todo/Dockerfile
  samples/central-login/Dockerfile
  samples/embedded-login/Dockerfile
  samples/reactjs-todo/Dockerfile
  samples/todo-api/Dockerfile
Labels: root, samples

ci: docker-files
  .github/workflows/ci.yml
  Dockerfile
  docker-compose.yml
  e2e/autoscript-apps/Dockerfile
  nx.json
  okteto.yml
  package.json
  samples/angular-todo/Dockerfile
  samples/angular-todo/project.json
  samples/angular-todo/src/environments/environment.ts
  samples/central-login/Dockerfile
  samples/central-login/webpack.config.js
  samples/embedded-login/Dockerfile
  samples/embedded-login/project.json
  samples/embedded-login/webpack.config.js
  samples/reactjs-todo/Dockerfile
  samples/reactjs-todo/webpack.config.js
  samples/todo-api/Dockerfile
Labels: CI, NX, root, samples, test

ci: fix-deploy-script
  Dockerfile
  package-lock.json
  package.json
  samples/angular-todo/Dockerfile
  samples/central-login/Dockerfile
  samples/embedded-login/Dockerfile
  samples/reactjs-todo/Dockerfile
  samples/todo-api/Dockerfile
Labels: root, samples

ci: fix-release-script
  .dockerignore
  Dockerfile
  e2e/autoscript-apps/Dockerfile
  migrations.json
  okteto.yml
  package-lock.json
  package.json
  samples/angular-todo/Dockerfile
  samples/angular-todo/project.json
  samples/angular-todo/src/environments/environment.ts
  samples/central-login/Dockerfile
  samples/central-login/project.json
  samples/embedded-login/Dockerfile
  samples/reactjs-todo/Dockerfile
  samples/reactjs-todo/project.json
Labels: NX, root, samples, test

release: 3.4.1-beta.1 [skip ci]
  packages/javascript-sdk/package.json
Labels: sdk

fix(javascript-sdk): remove-support-property
  e2e/autoscript-apps/src/config-request-middleware/autoscript.ts
  e2e/autoscript-suites/src/suites/authn-central-login.test.ts
  e2e/autoscript-suites/src/suites/config-request-middleware.test.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/token-manager/index.ts
  packages/javascript-sdk/tests/integration/oauth2-client.test.ts
Labels: sdk, test

release: 3.4.1-beta.2 [skip ci]
  packages/javascript-sdk/package.json
Labels: sdk

ci: fix-publish-token
  .github/workflows/merge.yml
Labels: CI

fix(javascript-sdk): use-prompt-none
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/oauth2-client/interfaces.ts
  packages/javascript-sdk/tests/integration/oauth2-client.test.ts
Labels: sdk, test

chore(javascript-sdk): pr comments
  package-lock.json
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/oauth2-client/interfaces.ts
  packages/javascript-sdk/src/token-manager/index.ts
  packages/javascript-sdk/tests/integration/oauth2-client.test.ts
Labels: root, sdk, test

ci: add-ssh-key [skip ci]
  .github/workflows/merge.yml
Labels: CI

fix(javascript-sdk)!: package-json
  packages/javascript-sdk/package.json
Labels: sdk

release: 3.4.1-beta.3 [skip ci]
  packages/javascript-sdk/package.json
Labels: sdk

fix(javascript-sdk): correct code / type in getTokens call
  .github/workflows/merge.yml
  package-lock.json
  package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/src/token-manager/index.ts
Labels: CI, NX, root, sdk

chore(javascript-sdk): pr-review fix query removal from the token index authorize-url
  packages/javascript-sdk/src/token-manager/index.ts
Labels: sdk

release: 3.4.1-beta.0 [skip ci]
  packages/javascript-sdk/package.json
Labels: sdk

Implemented widget modal for login
  package-lock.json
  samples/angular-todo/project.json
  samples/angular-todo/src/app/views/login/login.component.html
  samples/angular-todo/src/app/views/login/login.component.ts
  samples/angular-todo/src/index.html
Labels: NX, root, samples

Implemented login widget replacing all references to JS SDK; Removed components that were using the SDK and now are superceded by the login widget
  samples/angular-todo/src/app/app-routing.module.ts
  samples/angular-todo/src/app/app.module.ts
  samples/angular-todo/src/app/auth/auth.guard.ts
  samples/angular-todo/src/app/features/journey/alert/alert.component.html
  samples/angular-todo/src/app/features/journey/alert/alert.component.ts
  samples/angular-todo/src/app/features/journey/boolean/boolean.component.html
  samples/angular-todo/src/app/features/journey/boolean/boolean.component.ts
  samples/angular-todo/src/app/features/journey/button/button.component.html
  samples/angular-todo/src/app/features/journey/button/button.component.ts
  samples/angular-todo/src/app/features/journey/choice/choice.component.html
  samples/angular-todo/src/app/features/journey/choice/choice.component.ts
  samples/angular-todo/src/app/features/journey/form/form.component.html
  samples/angular-todo/src/app/features/journey/form/form.component.ts
  samples/angular-todo/src/app/features/journey/kba/kba.component.html
  samples/angular-todo/src/app/features/journey/kba/kba.component.ts
  samples/angular-todo/src/app/features/journey/password/password.component.html
  samples/angular-todo/src/app/features/journey/password/password.component.ts
  samples/angular-todo/src/app/features/journey/terms-conditions/terms-conditions.component.html
  samples/angular-todo/src/app/features/journey/terms-conditions/terms-conditions.component.ts
  samples/angular-todo/src/app/features/journey/text/text.component.html
  samples/angular-todo/src/app/features/journey/text/text.component.ts
  samples/angular-todo/src/app/features/journey/unknown/unknown.component.html
  samples/angular-todo/src/app/features/journey/unknown/unknown.component.ts
  samples/angular-todo/src/app/features/logout/logout.component.ts
  samples/angular-todo/src/app/layout/header/header.component.html
  samples/angular-todo/src/app/layout/header/header.component.ts
  samples/angular-todo/src/app/services/todo.service.ts
  samples/angular-todo/src/app/views/login/login.component.html
  samples/angular-todo/src/app/views/login/login.component.ts
  samples/angular-todo/src/app/views/register/register.component.html
  samples/angular-todo/src/app/views/register/register.component.ts
  samples/angular-todo/src/index.html
  samples/angular-todo/src/styles.scss
Labels: samples

Added CSS layer to fix styles as per readme
  samples/angular-todo/src/index.html
Labels: samples

Added login widget beta
  package-lock.json
  samples/angular-todo/src/app/auth/auth.guard.ts
  samples/angular-todo/src/app/features/logout/logout.component.ts
  samples/angular-todo/src/app/layout/header/header.component.ts
  samples/angular-todo/src/app/services/todo.service.ts
  samples/angular-todo/src/app/views/register/register.component.ts
  samples/angular-todo/src/index.html
Labels: root, samples

Updated rest of app with widget and tested flows
  package-lock.json
  samples/angular-todo/src/app/auth/auth.guard.ts
  samples/angular-todo/src/app/features/logout/logout.component.ts
  samples/angular-todo/src/app/layout/header/header.component.ts
  samples/angular-todo/src/app/views/register/register.component.html
  samples/angular-todo/src/app/views/register/register.component.ts
Labels: root, samples
