Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, samples, sdk, test

ci: set-author-and-email
  .github/workflows/merge.yml
Labels: CI

docs: add-readme-files
  e2e/autoscript-apps/README.md
  e2e/autoscript-suites/README.md
Labels: docs, test

ci: base-branch-for-push-on-release
  packages/javascript-sdk/project.json
Labels: NX, sdk

fix(javascript-sdk): fix-release the release process fails the push step. unsure exactly why, but i've checked all the documentation and maybe i'll have to remove this step. will try one last time.
  .github/workflows/merge.yml
  package.json
  packages/javascript-sdk/project.json
Labels: CI, NX, root, sdk

fix: fix-lockfile
  package-lock.json
Labels: root

feat(javascript-sdk): add tests to textinputcallback external contribution
  e2e/autoscript-apps/src/misc-callbacks/autoscript.ts
  e2e/autoscript-suites/src/suites/misc-callbacks.lc.test.ts
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  packages/javascript-sdk/src/fr-auth/callbacks/text-input-callback.test.ts
Labels: sdk, test

ci: fix-preview-naming
  .github/workflows/preview.yml
  .null-ls_830268_docker-compose.yml
  docker-compose.yml
  samples/todo-api/Dockerfile
Labels: CI, root, samples

ci: add-luis-as-publisher
  .github/workflows/merge.yml
Labels: CI

fix: luis-email-fix
  .github/workflows/merge.yml
Labels: CI

fix: luis-email-fix
  .github/workflows/merge.yml
Labels: CI

fix: multiple-asset-error
  samples/central-login/webpack.config.js
Labels: samples

fix: multiple-asset-error
  .null-ls_830268_docker-compose.yml
  samples/central-login/webpack.config.js
  samples/embedded-login/webpack.config.js
Labels: root, samples

ci: fix-develop-if-block
  .github/workflows/macos.yml
Labels: CI

ci: add-wss-and-commitlint-fix
  .github/workflows/macos.yml
  .github/workflows/ubuntu.yml
  wss-unified-agent.config
Labels: CI, root

ci: commit-lint-on-pull_request
  .github/workflows/macos.yml
Labels: CI

feat(javascript-sdk,autoscript-apps,autoscript-suites,mock-api): add-saml-params-to-resume
  commitlint.config.js
  e2e/autoscript-apps/src/authn-saml/autoscript.ts
  e2e/autoscript-apps/src/authn-saml/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/authn-saml.test.ts
  e2e/mock-api/src/app/constants.js
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  packages/javascript-sdk/src/fr-auth/index.ts
Labels: root, sdk, test

ci: add-ws-user-key
  .github/workflows/ubuntu.yml
  wss-unified-agent.config
Labels: CI, root

ci: user-key-wss
  .github/workflows/ubuntu.yml
Labels: CI

docs: readme-update-status-badges
  README.md
  packages/javascript-sdk/README.md
Labels: docs, root, sdk

ci: whitesource-only-runs-on-linux
  .github/workflows/ci.yml
  .github/workflows/ubuntu.yml
Labels: CI

ci: whitesource
  wss-unified-agent.config
Labels: root

feat: upgrade-nx-14
  e2e/autoscript-apps/project.json
  e2e/autoscript-suites/project.json
  e2e/mock-api/jest.config.ts
  e2e/mock-api/project.json
  e2e/mock-api/tsconfig.app.json
  e2e/mock-api/tsconfig.spec.json
  jest.config.ts
  jest.preset.ts
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/jest.basic.config.ts
  packages/javascript-sdk/jest.config.ts
  packages/javascript-sdk/jest.integration.config.ts
  packages/javascript-sdk/jest.unit.config.ts
  packages/javascript-sdk/project.json
  packages/javascript-sdk/tests/integration/http-client.test.ts
  packages/javascript-sdk/tsconfig.lib.json
  packages/javascript-sdk/tsconfig.spec.json
  samples/angular-todo/jest.config.ts
  samples/angular-todo/project.json
  samples/angular-todo/tsconfig.app.json
  samples/angular-todo/tsconfig.editor.json
  samples/angular-todo/tsconfig.spec.json
  samples/central-login/project.json
  samples/embedded-login/project.json
  samples/reactjs-todo/jest.config.ts
  samples/reactjs-todo/project.json
  samples/reactjs-todo/tsconfig.app.json
  samples/reactjs-todo/tsconfig.spec.json
  samples/todo-api/jest.config.ts
  samples/todo-api/project.json
  samples/todo-api/tsconfig.app.json
  samples/todo-api/tsconfig.spec.json
  workspace.json
Labels: NX, root, samples, sdk, test

ci: disable-distributed-execution
  .github/workflows/merge.yml
Labels: CI

ci: fix-automatic-publishing
  .github/workflows/merge.yml
  packages/javascript-sdk/package.json
Labels: CI, sdk

chore: 3.3.1-beta.0
  packages/javascript-sdk/package-lock.json
  packages/javascript-sdk/package.json
Labels: sdk

ci: automate-releases
  .github/workflows/ci.yml
  .github/workflows/commit-check.yml
  .github/workflows/create-release.yml
  .github/workflows/labeler.yml
  .github/workflows/merge.yml
  .github/workflows/release.yml
  .github/workflows/slack-notify.yml
  .releaserc.json
  package-lock.json
  package.json
  packages/javascript-sdk/LICENSE
  packages/javascript-sdk/package.json
  samples/angular-todo/src/app/app.component.ts
Labels: CI, root, samples, sdk

ci: fix-ci
  .github/workflows/merge.yml
Labels: CI

fix(javascript-sdk): add-back-proper-namespace
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/src/umd-bundle-check/autoscript.ts
  e2e/autoscript-apps/src/umd-bundle-check/index.html
  e2e/autoscript-apps/tsconfig.app.json
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/umd-bundle-check.test.ts
  packages/javascript-sdk/project.json
  packages/javascript-sdk/rollup.config.js
Labels: NX, sdk, test

ci: merge.yml
  .github/workflows/merge.yml
Labels: CI

chore: v3.3.1
  CHANGELOG.md
  package-lock.json
  packages/javascript-sdk/package-lock.json
  packages/javascript-sdk/package.json
Labels: docs, root, sdk

ci: semantic-release-requires-master
  .releaserc.json
Labels: root

ci: add-missing-module-for-release
  package-lock.json
  package.json
Labels: root

ci: semantic-release-more
  .github/workflows/merge.yml
  package.json
Labels: CI, root

ci: fix-nx-cloud-cache
  .github/workflows/ci.yml
Labels: CI

ci: fix-nx-publish
  .github/workflows/merge.yml
Labels: CI

ci: use-sem-release-nx
  .github/workflows/merge.yml
  .releaserc.json
  e2e/autoscript-apps/package.json
  e2e/mock-api/package.json
  package-lock.json
  package.json
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/project.json
  samples/reactjs-todo/package.json
  samples/todo-api/package.json
  samples/todo-api/project.json
Labels: CI, docs, NX, root, samples, sdk, test

ci: add-cloud-install-to-merge
  .github/workflows/merge.yml
Labels: CI

ci: merge-yml
  .github/workflows/merge.yml
Labels: CI

ci: fix-action
  .github/workflows/destroy_preview.yml
Labels: CI

chore: remove-saml-from-changelog
  CHANGELOG.md
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, root, sdk

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

samples:
  - samples/**/*

sdk:
  - packages/javascript-sdk/*
  - packages/javascript-sdk/**/*

test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js
