Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, davinci-client, device-client, ping-protect, test

feat(nx-cloud): setup nx cloud workspace
  .changeset/gentle-squids-remember.md
  e2e/token-vault-interceptor/package.json
  e2e/token-vault-interceptor/vite.config.ts
  e2e/token-vault-interceptor/vitest.config.ts
  nx.json
  package.json
  packages/javascript-sdk/src/fr-webauthn/interfaces.ts
  pnpm-lock.yaml
Labels: docs, NX, root, test

chore: remove-tests-from-unused-api-update-deps
  .husky/install.mjs
  e2e/mock-api-v2/src/helpers/test/cookie.test.ts
  e2e/mock-api-v2/src/helpers/test/match.test.ts
  e2e/mock-api-v2/src/services/mock-env-helpers/tests/index.test.ts
  e2e/mock-api-v2/src/services/tests/authorize.service.test.ts
  e2e/mock-api-v2/src/services/tests/cookie.service.test.ts
  e2e/mock-api-v2/src/services/tests/custom-html-template.service.test.ts
  e2e/mock-api-v2/src/services/tests/request.service.test.ts
  e2e/mock-api-v2/src/services/tests/token.service.test.ts
  e2e/mock-api-v2/src/services/tests/userinfo.service.test.ts
  e2e/mock-api-v2/vite.config.ts
  e2e/token-vault-interceptor/.eslintrc.json
  e2e/token-vault-interceptor/package.json
  package.json
  packages/javascript-sdk/.eslintrc.json
  packages/javascript-sdk/package.json
  pnpm-lock.yaml
Labels: root, test

chore: add-cloudid
  nx.json
Labels: NX, root

chore: remove-configurations
  e2e/autoscript-apps/project.json
  e2e/mock-api-v2/project.json
  package.json
  pnpm-lock.yaml
Labels: NX, root, test

chore: updates
  e2e/mock-api-v2/project.json
  e2e/mock-api/project.json
  e2e/token-vault-app/project.json
  e2e/token-vault-interceptor/project.json
  e2e/token-vault-proxy/project.json
Labels: NX, test

fix: webauthn-parsed-credentials-type
  .changeset/jolly-signs-think.md
  package.json
  packages/javascript-sdk/src/fr-webauthn/interfaces.ts
  pnpm-lock.yaml
Labels: docs, root

fix: whitesource file
  .whitesource
Labels: root

ci: update-publishing
  .github/workflows/publish.yml
  .npmrc
  pnpm-workspace.yaml
Labels: CI, root

Adding support for Conditional UI
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.mock.data.ts
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.test.ts
  packages/javascript-sdk/src/fr-webauthn/helpers.ts
  packages/javascript-sdk/src/fr-webauthn/index.ts
  packages/javascript-sdk/src/fr-webauthn/interfaces.ts
Labels: test

Fixing typescript error
  packages/javascript-sdk/src/fr-webauthn/index.ts
Labels: none

chore: stack-blitz-publish-pr
  .github/workflows/ci.yml
Labels: CI

fix(ping-protect): fixes type for PIProtect.start() options object
  .changeset/metal-suns-complain.md
  packages/ping-protect/src/lib/ping-protect.ts
Labels: docs

fix(ping-protect): fixes type for PIProtect.start() options object
  .changeset/brave-moose-run.md
  packages/ping-protect/src/lib/ping-protect.ts
Labels: docs

chore: fix-fork-ci
  .github/workflows/ci-fork.yml
  .github/workflows/labeler.yml
Labels: CI

feat: add auto complete ui for AM-33773
  .changeset/itchy-dancers-approve.md
  .github/workflows/ci.yml
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.mock.data.ts
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.test.ts
  packages/javascript-sdk/src/fr-webauthn/helpers.ts
  packages/javascript-sdk/src/fr-webauthn/index.ts
  packages/javascript-sdk/src/fr-webauthn/interfaces.ts
Labels: CI, docs, test

fix: fixed test
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.test.ts
Labels: test

fix(ping-protect): fixes type for PIProtect.start() options object
  .changeset/brave-moose-run.md
  packages/ping-protect/src/lib/ping-protect.ts
Labels: docs

fix: updated password in test
  e2e/autoscript-suites/src/suites/authn-central-logout.test.ts
Labels: test

fix: implementation of conditional UI for AME-34348 AME-34340
  packages/javascript-sdk/src/fr-webauthn/index.ts
  packages/javascript-sdk/src/fr-webauthn/interfaces.ts
  packages/javascript-sdk/src/index.ts
Labels: none

fix: webauthn script parsing for AME-34349
  packages/javascript-sdk/src/fr-webauthn/index.ts
Labels: none

fix: implementation of conditional UI for AME-34348 AME-34340
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.mock.data.ts
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.test.ts
  packages/javascript-sdk/src/fr-webauthn/index.ts
  packages/javascript-sdk/src/fr-webauthn/interfaces.ts
  packages/javascript-sdk/src/index.ts
Labels: test

fix: webauthn script parsing for AME-34349
  packages/javascript-sdk/src/fr-webauthn/index.ts
Labels: none

fix(ci): fix slack payload parsing and prevent notification failures from blocking CI
  .github/workflows/publish.yml
Labels: CI

fix(ci): unify slack notifications for snapshot and publish jobs
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  package.json
  pnpm-lock.yaml
Labels: CI, root

fix(token-vault): replace substring URL matching with strict equality
  .changeset/config.json
  .changeset/fix-url-interception-check.md
  packages/token-vault/src/lib/network/network.utilities.test.ts
  packages/token-vault/src/lib/network/network.utilities.ts
Labels: docs, test

fix(ci): filter snapshot slack notification to only released packages
  .github/workflows/publish.yml
Labels: CI

fix(ping-protect): update protect callback with new config
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/src/lib/ping-protect.ts
  packages/ping-protect/src/lib/ping-protect.types.ts
Labels: test

fix: implementation of conditional UI for AME-34348 AME-34340
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.mock.data.ts
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.test.ts
  packages/javascript-sdk/src/fr-webauthn/index.ts
  packages/javascript-sdk/src/fr-webauthn/interfaces.ts
  packages/javascript-sdk/src/index.ts
Labels: test

fix: webauthn script parsing for AME-34349
  .changeset/thirty-rules-film.md
  packages/javascript-sdk/src/fr-webauthn/index.ts
Labels: docs

feat: ability to override WebAuthn options for authentication AME-33781
  .changeset/thirty-rules-film.md
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.test.ts
  packages/javascript-sdk/src/fr-webauthn/index.ts
Labels: docs, test

test(token-vault): remove unnecessary blob URL tests
  packages/token-vault/src/lib/network/network.utilities.test.ts
Labels: test

feat: add copyright date check & fix automation
  .husky/pre-commit
  package.json
  tools/copyright/sync-header-years.mjs
  tools/copyright/sync-header-years.test.mjs
Labels: root

fix(ping-protect): handle behavioralDataCollection as string value
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/src/lib/ping-protect.test.ts
  packages/ping-protect/src/lib/ping-protect.ts
  packages/ping-protect/src/lib/ping-protect.types.ts
Labels: test

fix: update signal SDK; generate changeset;
  .changeset/update-protect-callback.md
  packages/ping-protect/src/lib/ping-signals-sdk.js
Labels: docs

fix: remove duplicate copyright block
  packages/ping-protect/src/lib/ping-signals-sdk.js
Labels: none

fix: use resumeBehavioralData wrapper internally
  packages/ping-protect/src/lib/ping-protect.ts
Labels: none

SDKS-4549: Update Protect Callback With New Signals SDK Config (#581)
  .changeset/update-protect-callback.md
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/src/lib/ping-protect.test.ts
  packages/ping-protect/src/lib/ping-protect.ts
  packages/ping-protect/src/lib/ping-protect.types.ts
  packages/ping-protect/src/lib/ping-signals-sdk.js
Labels: docs, test

fix: for issues with _allowCredentials and device registration
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.test.ts
  packages/javascript-sdk/src/fr-webauthn/index.ts
Labels: test

feat: validate space around dates; update tests;
  tools/copyright/sync-header-years.mjs
  tools/copyright/sync-header-years.test.mjs
Labels: none

fix: add exclude paths to pre-commit date update; update test input dates;
  tools/copyright/sync-header-years.mjs
  tools/copyright/sync-header-years.test.mjs
Labels: none

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

ping-protect: -packages/ping-protect/*
test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js
