Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, samples, sdk, test

fix: fix-issues-in-destroy-actions
  .github/workflows/destroy_preview.yml
Labels: CI

ci: update-publish-to-beta
  packages/javascript-sdk/project.json
Labels: NX, sdk

ci: update-release-process
  .github/workflows/merge.yml
Labels: CI

fix(javascript-sdk): fix-profile-object-checks
  packages/javascript-sdk/src/fr-device/index.ts
Labels: sdk

ci: add-base-to-affected-beta
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  .github/workflows/slack-notify.yml
  .husky/pre-commit
  .node-version
  CONTRIBUTING.md
  README.md
  package-lock.json
  packages/javascript-sdk/package.json
Labels: CI, docs, root, sdk

ci: nx-affected-fix
  nx.json
Labels: NX, root

fix(javascript-sdk): fixing-comment
  packages/javascript-sdk/src/fr-auth/callbacks/polling-wait-callback.ts
Labels: sdk

ci: disable-dte-for-version
  .github/workflows/merge.yml
Labels: CI

ci: angualar-executor-doesnt-have-head-and-sha
  .github/workflows/merge.yml
Labels: CI

ci: set-author-and-email
  .github/workflows/merge.yml
Labels: CI

fix: fix-lockfile
  package-lock.json
Labels: root

ci: base-branch-for-push-on-release
  packages/javascript-sdk/project.json
Labels: NX, sdk

fix(javascript-sdk): fix-release the release process fails the push step. unsure exactly why, but i've checked all the documentation and maybe i'll have to remove this step. will try one last time.
  .github/workflows/merge.yml
  package.json
  packages/javascript-sdk/project.json
Labels: CI, NX, root, sdk

ci: fix-preview-naming
  .github/workflows/preview.yml
  .null-ls_830268_docker-compose.yml
  docker-compose.yml
  samples/todo-api/Dockerfile
Labels: CI, root, samples

ci: add-luis-as-publisher
  .github/workflows/merge.yml
Labels: CI

fix: luis-email-fix
  .github/workflows/merge.yml
Labels: CI

feat(javascript-sdk): added-text-input-callback
  packages/javascript-sdk/src/auth/enums.ts
  packages/javascript-sdk/src/fr-auth/callbacks/factory.ts
  packages/javascript-sdk/src/fr-auth/callbacks/text-input-callback.ts
  packages/javascript-sdk/src/index.ts
Labels: sdk

feat(javascript-sdk): add tests to textinputcallback external contribution
  e2e/autoscript-apps/src/misc-callbacks/autoscript.ts
  e2e/autoscript-suites/src/suites/misc-callbacks.lc.test.ts
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  packages/javascript-sdk/src/fr-auth/callbacks/text-input-callback.test.ts
Labels: sdk, test

fix: luis-email-fix
  .github/workflows/merge.yml
Labels: CI

refactor: docker-compose-files
  .null-ls_830268_docker-compose.yml
  docker-compose.yml
  samples/todo-api/Dockerfile
Labels: root, samples

fix(javascript-sdk): capitalize headers
  CHANGELOG.md
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/src/auth/index.ts
  packages/javascript-sdk/src/http-client/helpers.ts
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/session-manager/index.ts
Labels: docs, root, sdk

chore: release-changelog make changes to the root changelog and add version and date to the changelog in the `packages/javascript-sdk`
  .github/workflows/ci.yml
  CHANGELOG.md
  packages/javascript-sdk/CHANGELOG.md
Labels: CI, docs, root, sdk

feat: release- v3.4.0
  package-lock.json
  packages/javascript-sdk/package-lock.json
  packages/javascript-sdk/package.json
Labels: root, sdk

refactor: docker-compose-files
  docker-compose.yml
  samples/todo-api/Dockerfile
Labels: root, samples

ci: fix-e2e
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  .gitignore
  docker-compose.yml
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/package.json
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/project.json
  e2e/mock-api/src/app/routes.auth.js
  okteto.yml
  package-lock.json
  samples/reactjs-todo/client/index.js
  samples/todo-api/src/app/routes.js
Labels: CI, NX, root, samples, test

fix: license-file k it was asked that we link the root README license file section to where the file lives in the javascript-sdk package
  README.md
Labels: docs, root

docs: updated vars in samples to match AM setup instructions closes JIRA SDKS-2195
  samples/angular-todo/src/app/app.component.ts
  samples/central-login/.env.example
  samples/central-login/src/main.js
  samples/central-login/webpack.config.js
  samples/embedded-login/.env.example
  samples/embedded-login/src/main.js
  samples/reactjs-todo/client/index.js
Labels: samples

docs: updated vars in samples to match AM setup instructions fixes SDKS-2195
  samples/angular-todo/src/app/app.component.ts
  samples/central-login/.env.example
  samples/central-login/src/main.js
  samples/central-login/webpack.config.js
  samples/embedded-login/.env.example
  samples/embedded-login/src/main.js
  samples/reactjs-todo/client/index.js
Labels: samples

RELENG-1924 enable the Mend scan
  .whitesource
Labels: root

chore: rename txn auth tests based on ig response type
  e2e/autoscript-apps/src/authz-txn-basic-redirect/UsernamePassword.png
  e2e/autoscript-apps/src/authz-txn-basic-redirect/autoscript.ts
  e2e/autoscript-apps/src/authz-txn-basic-redirect/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/authz-tree-basic.test.ts
  e2e/autoscript-suites/src/suites/authz-txn-basic-redirect.test.ts
Labels: test

chore: add txn auth test suite for ig json response
  e2e/autoscript-apps/src/authz-txn-basic-json/UsernamePassword.png
  e2e/autoscript-apps/src/authz-txn-basic-json/autoscript.ts
  e2e/autoscript-apps/src/authz-txn-basic-json/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/authz-txn-basic-json.test.ts
Labels: test

test: add ig json advice response to mock server
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.resource.js
Labels: test

test: expect no query params for subsequent composite advice flow
  e2e/autoscript-apps/src/authz-txn-basic-json/autoscript.ts
  e2e/autoscript-apps/src/authz-txn-basic-redirect/autoscript.ts
  e2e/autoscript-suites/src/suites/authz-txn-basic-json.test.ts
Labels: test

feat: consume ig json advice and submit composite advice with no query params
  packages/javascript-sdk/src/http-client/helpers.ts
  packages/javascript-sdk/src/http-client/index.ts
Labels: sdk

chore: more descriptive function names for ig response normalization
  packages/javascript-sdk/src/http-client/helpers.test.ts
  packages/javascript-sdk/src/http-client/helpers.ts
  packages/javascript-sdk/src/http-client/index.ts
Labels: sdk, test

test: coverage for ig json response normalization
  packages/javascript-sdk/src/http-client/helpers.test.ts
Labels: sdk, test

ci: whitesource-mend
  .whitesource
Labels: root

ci: whitesource-and-e2e
  .github/workflows/merge.yml
  .whitesource
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/project.json
  package-lock.json
  package.json
Labels: CI, NX, root, test

RELENG-1924 Remove the project token
  .whitesource
Labels: root

refactor: move e2e access control header to cors config
  e2e/mock-api/src/app/routes.resource.js
  e2e/mock-api/src/index.js
Labels: test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

samples:
  - samples/**/*

sdk:
  - packages/javascript-sdk/*
  - packages/javascript-sdk/**/*

test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js
