Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, davinci-client, device-client, ping-protect, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

davinci-client:
  - packages/davinci-client/*

device-client:
  - packages/device-client/*

ping-protect: -packages/ping-protect/*
test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js

fix(javascript-sdk): prioritize displayName for WebAuthn name attribute
  .changeset/great-bobcats-fry.md
  e2e/autoscript-apps/src/authn-webauthn/autoscript.ts
  packages/javascript-sdk/src/fr-webauthn/index.ts
Labels: docs, test

docs: update Backstage links in README files (SDKS-3707)
  README.md
  packages/javascript-sdk/README.md
  packages/token-vault/README.md
Labels: docs, root

chore: update-device-client
  e2e/autoscript-apps/src/authn-basic-self-service/autoscript.ts
  e2e/autoscript-apps/tsconfig.app.json
  e2e/autoscript-apps/tsconfig.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/src/device-client/device.store.test.ts
  packages/javascript-sdk/src/device-client/device.store.ts
  packages/javascript-sdk/src/device-client/index.ts
  packages/javascript-sdk/src/device-client/mock-data/msw-mock-data.ts
  packages/javascript-sdk/src/device-client/services/index.ts
  packages/javascript-sdk/src/device-client/types/binding-device.types.ts
  packages/javascript-sdk/src/device-client/types/oath.types.ts
  packages/javascript-sdk/src/device-client/types/profile-device.types.ts
  packages/javascript-sdk/src/device-client/types/push-device.types.ts
  packages/javascript-sdk/src/device-client/types/webauthn.types.ts
  packages/javascript-sdk/src/index.ts
  packages/javascript-sdk/tsconfig.spec.json
Labels: test

chore: pr-comments
  e2e/autoscript-apps/src/authn-basic-self-service/autoscript.ts
  e2e/autoscript-apps/tsconfig.app.json
  e2e/autoscript-apps/tsconfig.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/src/device-client/device.store.ts
  packages/javascript-sdk/src/device-client/mock-data/msw-mock-data.ts
  packages/javascript-sdk/src/device-client/services/index.ts
  packages/javascript-sdk/src/device-client/types/bound-device.types.ts
  packages/javascript-sdk/src/device-client/types/index.ts
  packages/javascript-sdk/src/device-client/types/oath.types.ts
  packages/javascript-sdk/vite.config.ts
Labels: test

chore: update-vite-nx
  .gitignore
  package.json
  pnpm-lock.yaml
Labels: root

feat(javascript-sdk): ping one signout, flag for iframe skip, remove session call
  .changeset/rude-sloths-pay.md
  .gitignore
  e2e/autoscript-apps/src/authn-central-logout/autoscript.ts
  package-lock.json
  packages/javascript-sdk/src/config/helpers.test.ts
  packages/javascript-sdk/src/config/helpers.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/config/well-known.mock.ts
  packages/javascript-sdk/src/fr-user/index.ts
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
Labels: docs, root, test

feat(javascript-sdk): ping one signout, flag for iframe skip, remove session call
  .changeset/rude-sloths-pay.md
  .gitignore
  e2e/autoscript-apps/src/authn-central-logout/autoscript.ts
  package-lock.json
  packages/javascript-sdk/src/config/helpers.test.ts
  packages/javascript-sdk/src/config/helpers.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/config/well-known.mock.ts
  packages/javascript-sdk/src/fr-user/index.ts
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
Labels: docs, root, test

chore: remove-nx-cloud-dep
  package.json
  pnpm-lock.yaml
Labels: root

chore: update-nx
  e2e/autoscript-apps/.eslintrc.json
  e2e/mock-api-v2/.eslintrc.json
  e2e/token-vault-app/.eslintrc.json
  e2e/token-vault-interceptor/.eslintrc.json
  e2e/token-vault-proxy/.eslintrc.json
  package.json
  packages/javascript-sdk/.eslintrc.json
  packages/ping-protect/.eslintrc.json
  packages/token-vault/.eslintrc.json
  pnpm-lock.yaml
Labels: root, test

chore: remove-package-lock.json
  package-lock.json
Labels: root

feat(javascript-sdk): ping one signout, flag for iframe skip, remove session call
  .changeset/rude-sloths-pay.md
  .gitignore
  e2e/autoscript-apps/src/authn-central-logout/autoscript.ts
  e2e/autoscript-apps/src/authn-central-logout/index.html
  package-lock.json
  packages/javascript-sdk/src/config/helpers.test.ts
  packages/javascript-sdk/src/config/helpers.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/config/well-known.mock.ts
  packages/javascript-sdk/src/fr-user/index.ts
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
Labels: docs, root, test

chore(javascript-sdk): improve skip flag logic, improve e2e tests
  .gitignore
  e2e/autoscript-apps/index.html
  e2e/autoscript-apps/src/authn-central-login-no-iframe/autoscript.ts
  e2e/autoscript-apps/src/authn-central-login-no-iframe/index.html
  e2e/autoscript-apps/src/authn-oauth/autoscript.ts
  e2e/autoscript-apps/src/authn-wellknown/UsernamePassword.png
  e2e/autoscript-apps/src/authn-wellknown/autoscript.ts
  e2e/autoscript-apps/vite.config.ts
  e2e/autoscript-suites/src/env.config.ts
  e2e/autoscript-suites/src/suites/authn-central-login-no-iframe.test.ts
  e2e/autoscript-suites/src/suites/authn-central-login-wellknown.test.ts
  e2e/autoscript-suites/src/suites/authn-central-logout.test.ts
  e2e/autoscript-suites/src/utilities/setup-and-go.ts
  e2e/mock-api/src/app/constants.js
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  package-lock.json
  packages/javascript-sdk/src/token-manager/index.ts
Labels: root, test

chore: remove-sessions-test-request
  e2e/token-vault-suites/src/basic.test.ts
Labels: test

chore(javascript-sdk): improve skip flag logic, improve e2e tests
  e2e/autoscript-suites/src/suites/authn-central-login-wellknown.test.ts
  e2e/token-vault-suites/src/basic.test.ts
  packages/javascript-sdk/src/fr-user/index.ts
Labels: test

feat(javascript-sdk): allow for json response outcome for webauthn
  .changeset/thin-numbers-hammer.md
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.mock.data.ts
  packages/javascript-sdk/src/fr-webauthn/index.ts
  packages/javascript-sdk/src/fr-webauthn/interfaces.ts
Labels: docs

chore: format
  packages/javascript-sdk/package.json
  packages/ping-protect/package.json
  packages/token-vault/package.json
Labels: none

chore: remove-browserstack
  package.json
  pnpm-lock.yaml
Labels: root

chore: contributing-information
  CONTRIBUTING.md
  README.md
Labels: docs, root

chore: contributing-information
  CONTRIBUTING.md
  README.md
Labels: docs, root

fix: session-logout-logic
  .changeset/cool-ligers-dress.md
  e2e/autoscript-suites/src/suites/authn-central-logout.test.ts
  nx.json
  packages/javascript-sdk/src/fr-user/index.ts
Labels: docs, NX, root, test

fix: ping-protect-versioning
  .changeset/config.json
  .changeset/stupid-eagles-cross.md
  .github/workflows/publish.yml
  package.json
  packages/javascript-sdk/package.json
  packages/ping-protect/package.json
  pnpm-lock.yaml
Labels: CI, docs, root

fix(package): remove invalid ./src/ export
  packages/javascript-sdk/package.json
Labels: none

Add changeset
  .changeset/fix-src-package.md
Labels: docs

chore: update-signals
  .changeset/curvy-seahorses-act.md
  packages/ping-protect/src/lib/ping-signals-sdk.js
Labels: docs

chore: add beta publishing feature and npm trusted publishing
  .github/actions/setup-publish/action.yml
  .github/workflows/publish.yml
  .node-version
  contributing_docs/releases.md
  package.json
  pnpm-lock.yaml
Labels: CI, docs, root

chore: add ci workflow for forks
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
Labels: CI

chore: move repo checkout on publish workflow
  .github/actions/setup-publish/action.yml
  .github/workflows/publish.yml
Labels: CI

chore: fix publish workflow for real
  .github/actions/setup-publish/action.yml
  .github/workflows/publish.yml
Labels: CI

chore: configure changesets/action
  .github/workflows/publish.yml
Labels: CI

chore: update-shared-globals
  nx.json
  packages/ping-protect/README.md
Labels: docs, NX, root

chore: update-nx.json
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  e2e/autoscript-apps/vite.config.ts
  e2e/mock-api-v2/vite.config.ts
  nx.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/vite.config.ts
  packages/ping-protect/LICENSE
  packages/ping-protect/README.md
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/vite.config.ts
  packages/token-vault/vite.config.ts
Labels: CI, docs, NX, root, test

chore(ping-protect): update signals sdk
  packages/ping-protect/package.json
  packages/ping-protect/src/lib/ping-signals-sdk.js
Labels: none

feat: update protect module and callbacks
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/src/lib/ping-protect.ts
  packages/ping-protect/src/lib/ping-protect.types.ts
  pnpm-lock.yaml
Labels: root, test

chore: fix-issues
  e2e/autoscript-apps/src/authn-basic-self-service/autoscript.ts
  e2e/token-vault-app/tsconfig.app.json
  e2e/token-vault-interceptor/tsconfig.lib.json
Labels: test

fix: small fixes from PR review and feedback
  .changeset/lucky-balloons-repeat.md
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/src/suites/authn-protect.test.ts
  e2e/token-vault-suites/playwright.config.ts
  package.json
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/package.json
  pnpm-lock.yaml
Labels: docs, root, test

fix: package-json-exports
  .changeset/khaki-feet-cheer.md
  packages/javascript-sdk/package.json
Labels: docs

chore: fix publish workflow for real
  .github/actions/setup-publish/action.yml
  .github/workflows/publish.yml
Labels: CI

chore: add beta publishing feature and npm trusted publishing
  .github/actions/setup-publish/action.yml
  .github/workflows/publish.yml
  .node-version
  contributing_docs/releases.md
  package.json
  pnpm-lock.yaml
Labels: CI, docs, root

chore: move repo checkout on publish workflow
  .github/actions/setup-publish/action.yml
  .github/workflows/publish.yml
Labels: CI

chore: add ci workflow for forks
  .github/workflows/ci-fork.yml
  .github/workflows/ci.yml
Labels: CI
