Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, samples, sdk, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

samples:
  - samples/**/*

sdk:
  - packages/javascript-sdk/*
  - packages/javascript-sdk/**/*

test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js

Changed widget usage to new API for testing PR 62
  package-lock.json
  samples/angular-todo/package/CHANGELOG.md
  samples/angular-todo/package/LICENSE
  samples/angular-todo/package/README.md
  samples/angular-todo/package/inline.cjs
  samples/angular-todo/package/inline.cjs.map
  samples/angular-todo/package/inline.d.ts
  samples/angular-todo/package/inline.js
  samples/angular-todo/package/inline.js.map
  samples/angular-todo/package/modal.cjs
  samples/angular-todo/package/modal.cjs.map
  samples/angular-todo/package/modal.d.ts
  samples/angular-todo/package/modal.js
  samples/angular-todo/package/modal.js.map
  samples/angular-todo/package/package.json
  samples/angular-todo/package/widget.css
  samples/angular-todo/src/app/auth/auth.guard.ts
  samples/angular-todo/src/app/features/logout/logout.component.ts
  samples/angular-todo/src/app/layout/header/header.component.ts
  samples/angular-todo/src/app/services/todo.service.ts
  samples/angular-todo/src/app/views/register/register.component.ts
Labels: docs, root, samples

ci(javascript-sdk): use-semantic-release
  .github/workflows/merge.yml
  .releaserc.json
  package-lock.json
  package.json
  packages/javascript-sdk/project.json
Labels: CI, NX, root, sdk

ci(javascript-sdk): use-semantic-release
  .github/workflows/merge.yml
  .releaserc.json
  package-lock.json
  package.json
  packages/javascript-sdk/project.json
Labels: CI, NX, root, sdk

Notes added by 'git notes add'
  b0ccebaac44fccc89b3bb7b907a8a8d2ed27e690
Labels: root

ci(javascript-sdk): use-semantic-release
  .github/workflows/merge.yml
  .releaserc.json
  package-lock.json
  package.json
  packages/javascript-sdk/project.json
Labels: CI, NX, root, sdk

Notes added by 'git notes add'
  7004ad4ebcc95633029484e6b189324f9a726c79
Labels: root

chore(javascript-sdk): fix-semver
  package.json
  packages/javascript-sdk/.releaserc.json
  packages/javascript-sdk/package.json
Labels: root, sdk

Notes added by 'git notes add'
  63bef28663d93ab6064740f37a385011420145f9
Labels: root

chore(javascript-sdk): fix-semver-release-plugins
  packages/javascript-sdk/.releaserc.json
Labels: sdk

fix(javascript-sdk)!: remove-modules-unneeded
  packages/javascript-sdk/src/event/dispatcher.test.ts
  packages/javascript-sdk/src/event/helpers.ts
  packages/javascript-sdk/src/event/index.ts
  packages/javascript-sdk/src/event/interfaces.ts
  packages/javascript-sdk/src/fr-ui/index.ts
  packages/javascript-sdk/src/fr-user/index.ts
  packages/javascript-sdk/src/http-client/index.ts
  packages/javascript-sdk/src/index.ts
Labels: sdk, test

chore(angular-todo): fix-server
  package-lock.json
  samples/angular-todo/project.json
Labels: NX, root, samples

chore(javascript-sdk): typedoc
  .gitignore
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/typedoc.json
  samples/angular-todo/package.json
  tsconfig.base.json
  typedoc.json
Labels: NX, root, samples, sdk

ci: use-semver-plugin
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  .node-version
  .nxreleaserc.json
  e2e/autoscript-apps/project.json
  e2e/mock-api/project.json
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/.releaserc.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
  samples/angular-todo/project.json
  samples/central-login/project.json
  samples/embedded-login/project.json
  samples/reactjs-todo/project.json
  samples/todo-api/.babelrc
  samples/todo-api/Dockerfile
  samples/todo-api/project.json
  samples/todo-api/tsconfig.app.json
Labels: CI, NX, root, samples, sdk, test

chore(release-javascript-sdk): 4.0.0-beta.2 [skip ci]
  dist/packages/javascript-sdk/index.cjs
  dist/packages/javascript-sdk/index.js
  dist/packages/javascript-sdk/package.json
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

Notes added by 'git notes add'
  0638a548ffbfb956763e71bd6125c71375caaf53
Labels: root

chore: remove dist from github
  .gitignore
  .nxreleaserc.json
  dist/packages/javascript-sdk/index.cjs
  dist/packages/javascript-sdk/index.js
  dist/packages/javascript-sdk/package.json
Labels: root

fix(javascript-sdk): fix-policy-types
  packages/javascript-sdk/src/fr-auth/callbacks/attribute-input-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/attribute-input-callback.ts
  samples/reactjs-todo/client/components/journey/text.js
Labels: samples, sdk, test

fix(javascript-sdk): validated-create-password-callback-json
  packages/javascript-sdk/src/fr-auth/callbacks/attribute-input-callback.ts
  packages/javascript-sdk/src/fr-auth/callbacks/validated-create-password-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/validated-create-password-callback.ts
  samples/angular-todo/src/app/features/journey/password/password.component.ts
  samples/angular-todo/src/environments/environment.ts
Labels: samples, sdk, test

fix(javascript-sdk): validated-user-name-policies
  packages/javascript-sdk/src/fr-auth/callbacks/validated-create-username-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/validated-create-username-callback.ts
Labels: sdk, test

chore(release-javascript-sdk): 4.0.0-beta.3 [skip ci]
  dist/packages/javascript-sdk/package.json
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

Notes added by 'git notes add'
  32a0ba737af6c421bd09c017b88bde6b2b4c308f
Labels: root

chore(javascript-sdk)!: refactor token storage and config timeout
  e2e/autoscript-apps/src/authn-central-login/autoscript.ts
  e2e/autoscript-suites/src/suites/config-token-storage.test.ts
  packages/javascript-sdk/src/config/constants.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/fr-auth/index.ts
  packages/javascript-sdk/src/fr-device/index.ts
  packages/javascript-sdk/src/http-client/helpers.ts
  packages/javascript-sdk/src/http-client/index.ts
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
  packages/javascript-sdk/src/token-storage/constants.ts
  packages/javascript-sdk/src/token-storage/index.ts
  packages/javascript-sdk/src/token-storage/indexed-db.ts
  packages/javascript-sdk/src/token-storage/local-storage.ts
  packages/javascript-sdk/src/token-storage/session-storage.ts
  packages/javascript-sdk/src/util/pkce.ts
  packages/javascript-sdk/src/util/storage.ts
  packages/javascript-sdk/src/util/timeout.ts
  samples/angular-todo/src/app/auth/auth.guard.ts
Labels: samples, sdk, test

fix(javascript-sdk): fix-publish-readme-and-dist
  .nxreleaserc.json
  dist/packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
Labels: NX, root, sdk

chore(release-javascript-sdk): 4.0.0-beta.4 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

chore(release-javascript-sdk): 4.0.0-beta.4 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

fix: release-failure-packages
  .github/workflows/merge.yml
  .nxreleaserc.json
  package-lock.json
  package.json
  packages/javascript-sdk/project.json
Labels: CI, NX, root, sdk

fix(javascript-sdk): release-process
  .nxreleaserc.json
  package-lock.json
  package.json
  packages/javascript-sdk/project.json
Labels: NX, root, sdk

chore(release-javascript-sdk): 1.0.0-beta.1 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

fix(javascript-sdk): release process
  .github/workflows/merge.yml
  .nxreleaserc.json
  packages/javascript-sdk/project.json
Labels: CI, NX, root, sdk

chore(javascript-sdk): 4.0.0-beta.4 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

Notes added by 'git notes add'
  a10e9ab19632ef28675fd7c639744c17b9de5f1c
Labels: root

fix(javascript-sdk): release-sdk-beta
  .nxreleaserc.json
Labels: root

add missing env property and config
  samples/angular-todo/project.json
  samples/angular-todo/set-env.mjs
Labels: NX, samples

feat(javascript-sdk): register-device-name
  e2e/autoscript-apps/src/authn-webauthn-device-registration/autoscript.ts
  e2e/autoscript-apps/src/authn-webauthn-device-registration/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/mock-api/package.json
  e2e/mock-api/src/app/app.certs.js
  package-lock.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/src/fr-webauthn/index.ts
Labels: NX, root, sdk, test

chore(javascript-sdk): 4.0.0-beta.1 [skip ci]
  packages/javascript-sdk/package.json
Labels: sdk

chore: release-rc
  .nxreleaserc.json
  package-lock.json
  packages/javascript-sdk/project.json
Labels: NX, root, sdk

chore(javascript-sdk): 4.0.0-beta.1 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

fix: angular-sample & upgrade
  .eslintrc.json
  .nxreleaserc.json
  Dockerfile
  e2e/autoscript-apps/.babelrc
  e2e/autoscript-apps/project.json
  e2e/autoscript-suites/project.json
  e2e/mock-api/project.json
  jest.config.ts
  jest.preset.js
  nx.json
  okteto.yml
  package-lock.json
  package.json
  packages/javascript-sdk/.babelrc
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/project.json
  samples/angular-todo/Dockerfile
  samples/angular-todo/package.json
  samples/angular-todo/project.json
  samples/angular-todo/set-env.mjs
  samples/angular-todo/src/app/app-routing.module.ts
  samples/angular-todo/src/app/app.component.ts
  samples/angular-todo/src/app/auth/auth.guard.ts
  samples/angular-todo/src/environments/environment.prod.ts
  samples/angular-todo/src/environments/environment.ts
  samples/central-login/.babelrc
  samples/central-login/Dockerfile
  samples/central-login/project.json
  samples/embedded-login/.babelrc
  samples/embedded-login/Dockerfile
  samples/embedded-login/project.json
  samples/reactjs-todo/.babelrc
  samples/reactjs-todo/Dockerfile
  samples/reactjs-todo/jest.config.ts
  samples/reactjs-todo/project.json
  samples/reactjs-todo/tsconfig.app.json
  samples/reactjs-todo/tsconfig.spec.json
  samples/todo-api/.babelrc
  samples/todo-api/Dockerfile
  samples/todo-api/project.json
Labels: docs, NX, root, samples, sdk, test

chore(javascript-sdk): 1.0.0-beta.1 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

fix(javascript-sdk): fix-changelog
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk
