Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, samples, sdk, test

chore: update-release-commands
  .prettierignore
  nx.json
  tools/release/beta.mjs
Labels: NX, root

test: update-token-vault-suites-and-release
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  .husky/pre-push
  .verdaccio/config.yml
  .verdaccio/htpasswd
  e2e/token-vault-app/.eslintrc.json
  e2e/token-vault-app/src/main.ts
  e2e/token-vault-suites/project.json
  e2e/token-vault-suites/src/basic.test.ts
  nx.json
  package.json
  packages/token-vault/src/lib/network/network.utilities.ts
  packages/token-vault/tsconfig.json
  packages/token-vault/tsconfig.lib.json
  tools/release/local.mjs
Labels: CI, NX, root, test

build: update-package-lock
  package-lock.json
Labels: root

ci: update-commitlint
  .github/workflows/commit-check.yml
  commitlint.config.cjs
  package-lock.json
  package.json
Labels: CI, root

test(token-vault-suites): use-env-e2e-file
  e2e/token-vault-app/.env.e2e
  e2e/token-vault-proxy/.env.e2e
Labels: test

test(autoscript-suites): comment out flakey txn auth
  .verdaccio/htpasswd
  e2e/autoscript-apps/src/authz-txn-basic-json/autoscript.ts
  e2e/autoscript-suites/src/suites/authz-txn-basic-json.test.ts
Labels: test

chore: add-commitlint-to-prepush
  .husky/pre-push
  package-lock.json
Labels: root

chore: fix-release-script
  .verdaccio/config.yml
  .verdaccio/htpasswd
  nx.json
  package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/tsconfig.lib.json
  packages/ping-protect/project.json
  packages/ping-protect/tsconfig.lib.json
  packages/token-vault/tsconfig.lib.json
  tools/release/local.mjs
Labels: NX, root, sdk

chore: update-package-json
  nx.json
  package-lock.json
  package.json
Labels: NX, root

test: update-env.preview
  e2e/token-vault-app/.env.preview
  e2e/token-vault-app/vite.config.ts
  e2e/token-vault-proxy/.env.preview
Labels: test

test: use-env-fallbacks
  .verdaccio/config.yml
  .verdaccio/htpasswd
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/src/suites/authz-txn-basic-json.test.ts
  e2e/token-vault-app/src/interceptor.ts
  e2e/token-vault-app/src/main.ts
  e2e/token-vault-proxy/.env.build-interceptor
  e2e/token-vault-proxy/src/main.ts
  e2e/token-vault-suites/.env.e2e
  e2e/token-vault-suites/playwright.config.ts
  package-lock.json
  package.json
Labels: root, test

test(autoscript-suites): update-tests-from-rebase
  e2e/autoscript-apps/index.html
  e2e/autoscript-apps/src/authn-central-login-wellknown/autoscript.ts
  e2e/autoscript-apps/src/authn-central-login-wellknown/index.html
  e2e/autoscript-apps/src/authn-wellknown/autoscript.ts
  e2e/autoscript-apps/src/authn-wellknown/index.html
  e2e/autoscript-suites/src/suites/authn-central-login-wellknown.test.ts
  e2e/mock-api/src/app/responses.js
  package-lock.json
Labels: root, test

chore: downgrade-commitlint
  package-lock.json
  package.json
Labels: root

chore: commitlint
  .github/workflows/ci.yml
  .github/workflows/commit-check.yml
  commitlint.config.js
  package-lock.json
  package.json
Labels: CI, root

fix(ping-protect): update-module-type
  package-lock.json
  package.json
  packages/ping-protect/package.json
  packages/ping-protect/tsconfig.json
  packages/ping-protect/vite.config.ts
Labels: root

ci: update-merge-ci
  .eslintrc.json
  .github/workflows/merge.yml
  .husky/commit-msg
  .husky/pre-push
  .prettierrc
  .verdaccio/config.yml
  .verdaccio/htpasswd
  e2e/autoscript-apps/tsconfig.app.json
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/vite.config.ts
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/vite.config.ts
  packages/token-vault/project.json
  packages/token-vault/vite.config.ts
  tools/release/beta.mjs
  tools/release/local.mjs
Labels: CI, NX, root, sdk, test

fix(javascript-sdk): circular-dep
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/util/timeout.ts
Labels: sdk

feat: create device binding emulator client
  package-lock.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/src/auth/enums.ts
  packages/javascript-sdk/src/fr-device-binding-emulation/DeviceBindingEmulator.ts
  packages/javascript-sdk/src/index.ts
Labels: root, sdk

feat: allow the issuer to be configurable
  packages/javascript-sdk/src/fr-device-binding-emulation/DeviceBindingEmulator.ts
Labels: sdk

chore: update package lock
  package-lock.json
Labels: root

fix(ping-protect): update-signals-sdk
  .prettierignore
  packages/ping-protect/src/lib/ping-signals-sdk.js
Labels: root

fix(javascript-sdk): change x-requested-platform to opt-in
  e2e/autoscript-apps/src/authn-basic/autoscript.ts
  e2e/autoscript-suites/src/suites/authn-basic.lc.test.ts
  e2e/autoscript-suites/src/suites/send-request-header.test.ts
  e2e/autoscript-suites/src/utilities/setup-and-go.ts
  packages/javascript-sdk/src/auth/index.ts
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/session-manager/index.ts
Labels: sdk, test

build(ping-protect): update-module-resolution
  packages/ping-protect/tsconfig.lib.json
Labels: none

fix(ping-protect): bundling
  e2e/autoscript-apps/tsconfig.app.json
  e2e/mock-api/tsconfig.app.json
  package-lock.json
  packages/ping-protect/project.json
  packages/ping-protect/src/index.test.ts
  packages/ping-protect/tsconfig.lib.json
  packages/ping-protect/vite.config.ts
Labels: NX, root, test

build: update-configs-and-extensions
  .github/workflows/ci.yml
  e2e/autoscript-suites/src/suites/authz-tree-basic-redirect.test.ts
  package-lock.json
  package.json
  packages/javascript-sdk/package-lock.json
  packages/javascript-sdk/package.json
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/tsconfig.lib.json
  packages/token-vault/package.json
  packages/token-vault/src/index.ts
  packages/token-vault/src/lib/client.ts
  packages/token-vault/src/lib/network/index.ts
  packages/token-vault/src/lib/network/network.utilities.test.ts
  packages/token-vault/src/lib/network/network.utilities.ts
  packages/token-vault/src/lib/proxy.ts
  packages/token-vault/src/lib/token.utils.test.ts
  packages/token-vault/src/lib/token.utils.ts
  packages/token-vault/src/lib/types/client.types.ts
  packages/token-vault/src/lib/types/index.ts
  packages/token-vault/src/lib/types/worker.types.ts
  packages/token-vault/src/lib/worker/index.ts
  packages/token-vault/src/lib/worker/interceptor.test.ts
  packages/token-vault/src/lib/worker/interceptor.ts
  packages/token-vault/src/lib/worker/worker.utilities.test.ts
  packages/token-vault/src/lib/worker/worker.utilities.ts
  packages/token-vault/tsconfig.json
  packages/token-vault/tsconfig.lib.json
  tools/release/dev.mjs
  tsconfig.base.json
Labels: CI, NX, root, sdk, test

fix(ping-protect): update-ping-protect-signals-sdk
  nx.json
  packages/ping-protect/project.json
  packages/ping-protect/src/lib/ping-signals-sdk.js
  tools/release/dev.mjs
Labels: NX, root

build(javascript-sdk): update-build-to-vite-lib
  package-lock.json
  package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/tsconfig.lib.json
  packages/javascript-sdk/vite.config.ts
  tools/release/sdk-exports.mjs
Labels: NX, root, sdk

fix(javascript-sdk): add logout redirect for pingone
  e2e/autoscript-suites/src/utilities/setup-and-go.ts
  package-lock.json
  packages/javascript-sdk/src/fr-user/index.ts
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/oauth2-client/interfaces.ts
Labels: root, sdk, test

refactor(javascript-sdk): keep-idtoken-in-closure
  packages/javascript-sdk/src/fr-user/index.ts
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/oauth2-client/interfaces.ts
Labels: sdk

test(javascript-sdk): update-test-for-redirect
  e2e/autoscript-apps/index.html
  e2e/autoscript-apps/src/authn-central-logout/autoscript.ts
  e2e/autoscript-apps/src/authn-central-logout/callback.html
  e2e/autoscript-apps/src/authn-central-logout/index.html
  e2e/autoscript-suites/src/suites/authn-central-logout.test.ts
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/config/interfaces.ts
Labels: sdk, test

build(javascript-sdk): update-build-to-vite-lib
  README.md
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/tsconfig.lib.json
  packages/javascript-sdk/vite.config.ts
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/src/lib/ping-signals-sdk.js
  packages/ping-protect/typedoc.json
  packages/token-vault/package.json
  tools/release/sdk-exports.mjs
Labels: docs, NX, root, sdk

build(javascript-sdk): update-build-mjs
  e2e/autoscript-apps/src/authn-central-logout/autoscript.ts
  e2e/autoscript-apps/src/authn-central-logout/index.html
  e2e/autoscript-suites/project.json
  e2e/autoscript-suites/src/suites/authn-central-logout.test.ts
  e2e/autoscript-suites/tsconfig.json
  package-lock.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/vite.config.ts
  packages/ping-protect/src/lib/ping-signals-sdk.js
  packages/token-vault/tsconfig.lib.json
  tools/release/sdk-exports.mjs
Labels: NX, root, sdk, test

chore(javascript-sdk): package-versions
  packages/javascript-sdk/package.json
  packages/ping-protect/package.json
Labels: sdk

chore(javascript-sdk): changelogs
  packages/javascript-sdk/CHANGELOG.md
  packages/ping-protect/CHANGELOG.md
Labels: docs, sdk

build: update-nx-19
  .eslintrc.json
  .github/workflows/merge.yml
  .github/workflows/regress.yml
  .gitignore
  .prettierignore
  nx.json
  package-lock.json
  package.json
  tools/release/regression.mjs
Labels: CI, NX, root

feat(javascript-sdk): refactor authorize URL utilities for DaVinci
  package-lock.json
  packages/javascript-sdk/src/oauth2-client/state-pkce.ts
  packages/javascript-sdk/src/token-manager/index.ts
Labels: root, sdk

build: initial-commit-mock-api
  e2e/mock-api-v2/.eslintrc.json
  e2e/mock-api-v2/README.md
  e2e/mock-api-v2/project.json
  e2e/mock-api-v2/src/assets/.gitkeep
  e2e/mock-api-v2/src/errors/index.ts
  e2e/mock-api-v2/src/handlers/authorize.ts
  e2e/mock-api-v2/src/handlers/customHtmlTemplate.ts
  e2e/mock-api-v2/src/helpers/cookie.ts
  e2e/mock-api-v2/src/helpers/match.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/repository/Cookie.ts
  e2e/mock-api-v2/src/repository/fetch-test/index.ts
  e2e/mock-api-v2/src/repository/fetch.ts
  e2e/mock-api-v2/src/responses/InvalidUsernamePassword.ts
  e2e/mock-api-v2/src/responses/UsernamePassword.ts
  e2e/mock-api-v2/src/responses/customHtml/PingProtectNode.ts
  e2e/mock-api-v2/src/responses/customHtml/UsernamePassword.ts
  e2e/mock-api-v2/src/responses/index.ts
  e2e/mock-api-v2/src/schemas/CustomHtmlTemplate.ts
  e2e/mock-api-v2/src/schemas/authorize.ts
  e2e/mock-api-v2/src/schemas/customHtmlTemplate/requests.ts
  e2e/mock-api-v2/src/schemas/customHtmlTemplate/responses.ts
  e2e/mock-api-v2/src/spec.ts
  e2e/mock-api-v2/tsconfig.app.json
  e2e/mock-api-v2/tsconfig.json
  nx.json
  package-lock.json
  package.json
Labels: docs, NX, root, test

test: mock-api-v2
  .gitignore
  e2e/mock-api-v2/.eslintrc.json
  e2e/mock-api-v2/README.md
  e2e/mock-api-v2/src/endpoints/customHtml.ts
  e2e/mock-api-v2/src/endpoints/davinciAuthorize.ts
  e2e/mock-api-v2/src/endpoints/openIdEndpoint.ts
  e2e/mock-api-v2/src/endpoints/token.ts
  e2e/mock-api-v2/src/endpoints/userinfo.ts
  e2e/mock-api-v2/src/errors/index.ts
  e2e/mock-api-v2/src/handlers/authorize.ts
  e2e/mock-api-v2/src/handlers/customHtmlTemplate.ts
  e2e/mock-api-v2/src/handlers/openidConfiguration.ts
  e2e/mock-api-v2/src/handlers/token.ts
  e2e/mock-api-v2/src/handlers/userinfo.ts
  e2e/mock-api-v2/src/helpers/cookie.ts
  e2e/mock-api-v2/src/helpers/httpsServer.ts
  e2e/mock-api-v2/src/helpers/routeTypes.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/repository/Cookie.ts
  e2e/mock-api-v2/src/repository/fetch-test/index.ts
  e2e/mock-api-v2/src/repository/fetch.ts
  e2e/mock-api-v2/src/repository/userinfo.ts
  e2e/mock-api-v2/src/responses/UsernamePassword.ts
  e2e/mock-api-v2/src/responses/index.ts
  e2e/mock-api-v2/src/responses/openidConfiguration.ts
  e2e/mock-api-v2/src/responses/returnSuccessRedirect.ts
  e2e/mock-api-v2/src/responses/token/token.ts
  e2e/mock-api-v2/src/responses/userinfo/userinfo.ts
  e2e/mock-api-v2/src/schemas/CustomHtmlTemplate.ts
  e2e/mock-api-v2/src/schemas/authorize.ts
  e2e/mock-api-v2/src/schemas/customHtmlTemplate/requests.ts
  e2e/mock-api-v2/src/schemas/openid/openidConfigurationResponse.ts
  e2e/mock-api-v2/src/schemas/returnSuccessResponseRedirect.ts
  e2e/mock-api-v2/src/schemas/token/token.ts
  e2e/mock-api-v2/src/schemas/userinfo/userinfo.ts
  e2e/mock-api-v2/src/spec.ts
  package-lock.json
  package.json
Labels: docs, root, test

chore: nx-19.4
  package-lock.json
  package.json
Labels: root

refactor: mock-api
  .gitignore
  e2e/mock-api-v2/src/handlers/authorize.ts
  e2e/mock-api-v2/src/handlers/customHtmlTemplate.ts
  e2e/mock-api-v2/src/handlers/token.ts
  e2e/mock-api-v2/src/handlers/userinfo.ts
  e2e/mock-api-v2/src/main.ts
  e2e/mock-api-v2/src/repository/fetch-test/index.ts
  e2e/mock-api-v2/src/repository/fetch.ts
  e2e/mock-api-v2/src/repository/userinfo.ts
  e2e/mock-api-v2/src/services/Cookie.ts
  e2e/mock-api-v2/src/services/fetch-test/index.ts
  e2e/mock-api-v2/src/services/fetch.ts
Labels: root, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

samples:
  - samples/**/*

sdk:
  - packages/javascript-sdk/*
  - packages/javascript-sdk/**/*

test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js
