Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, samples, sdk, test

chore(javascript-sdk): 1.0.0-beta.1 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

fix(javascript-sdk): release-process
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

chore(javascript-sdk): 4.0.0-beta.1 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

fix(javascript-sdk): release-process
  package.json
Labels: root

chore(javascript-sdk): 4.0.0-beta.1 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

fix(javascript-sdk): release-process
  .github/workflows/merge.yml
Labels: CI

chore(javascript-sdk): 4.0.0-beta.1 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

fix(javascript-sdk): release-process
  .github/workflows/merge.yml
Labels: CI

chore: explicitly add dryRun false
  .nxreleaserc.json
Labels: root

chore(javascript-sdk): release-remove-origin remove the origin setting in ci
  .github/workflows/merge.yml
Labels: CI

ci: remove-checks remove ci checks
  .nxreleaserc.json
Labels: root

chore: ci-env-issues semver is struggling in ci because it thinks its not in a ci env, trying to foce it with the following command overrides
  package.json
  packages/javascript-sdk/project.json
Labels: NX, root, sdk

fix: release-process trigger release by making repositoryUrl forced to ssh
  .github/workflows/merge.yml
  .nxreleaserc.json
  samples/angular-todo/src/environments/environment.ts
Labels: CI, root, samples

chore(javascript-sdk): 4.0.0-beta.1 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

chore(javascript-sdk): 4.0.0-beta.1 [skip ci]
  .nxreleaserc.json
Labels: root

chore(javascript-sdk): 4.0.0-beta.1 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

ci: manage-semver-packages
  .github/workflows/merge.yml
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package-lock.json
  samples/angular-todo/src/environments/environment.ts
Labels: CI, docs, NX, root, samples, sdk

chore(javascript-sdk): 4.0.0-beta.1 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

chore(javascript-sdk): 4.0.0-beta.1 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

chore: remove-gh-semver
  .nxreleaserc.json
Labels: root

chore: fixing-notes
  package-lock.json
  package.json
Labels: root

chore(javascript-sdk): 4.0.0-beta.1 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

fix: release-process-changing-tool
  .github/workflows/merge.yml
  .nxreleaserc.json
  package-lock.json
  package.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
Labels: CI, NX, root, sdk

chore(javascript-sdk): release version 4.0.0-beta.4 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

ci: update-ci
  .github/workflows/merge.yml
  packages/javascript-sdk/project.json
Labels: CI, NX, sdk

chore(javascript-sdk): release version 4.0.0-beta.5 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

fix(javascript-sdk): release
  .github/workflows/merge.yml
  packages/javascript-sdk/project.json
Labels: CI, NX, sdk

chore(javascript-sdk): release version 4.0.0-beta.5 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

fix(javascript-sdk): types-broken presrving modules so that we can still use [package]/lib/etc type imports
  packages/javascript-sdk/project.json
  packages/javascript-sdk/rollup.config.js
Labels: NX, sdk

chore(javascript-sdk): release version 4.0.0-beta.6 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

fix(javascript-sdk): export-map-update
  packages/javascript-sdk/package.json
Labels: sdk

fix(javascript-sdk,central-login,embedded-login): update-export-map
  samples/central-login/project.json
  samples/embedded-login/project.json
Labels: NX, samples

chore(javascript-sdk): release version 4.0.0-beta.7 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

fix(javascript-sdk): update-pacakge-automatically
  package-lock.json
  package.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
  scripts/update-package-json-sdk.js
Labels: NX, root, sdk

chore(javascript-sdk): release version 4.0.0-beta.8 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

chore(javascript-sdk): release version 4.0.0-beta.9 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

chore(javascript-sdk): release version 4.0.0-beta.10 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

chore(javascript-sdk): release version 4.0.0-beta.11 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

fix(javascript-sdk): versioning-correctly
  packages/javascript-sdk/project.json
Labels: NX, sdk

chore(javascript-sdk): release version 4.0.0-beta.9 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

samples:
  - samples/**/*

sdk:
  - packages/javascript-sdk/*
  - packages/javascript-sdk/**/*

test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js
