Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, samples, sdk, test

fix(mock-api): fix-introspect-call
  e2e/mock-api/src/app/routes.resource.js
  samples/angular-todo/src/environments/environment.ts
  samples/todo-api/src/app/middleware.js
Labels: samples, test

update readme to point to localhost for todos API
  samples/reactjs-todo/README.md
Labels: docs, samples

feat(javascript-sdk): make-prefix-configurable
  e2e/autoscript-suites/playwright.config.ts
  e2e/mock-api/src/environments/environment.ts
  package-lock.json
  package.json
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/fr-auth/index.ts
  packages/javascript-sdk/src/fr-device/device-profile.test.ts
  packages/javascript-sdk/src/fr-device/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
  packages/javascript-sdk/src/token-storage/local-storage.ts
  packages/javascript-sdk/src/token-storage/session-storage.ts
  packages/javascript-sdk/tests/integration/fr-auth.test.ts
  packages/javascript-sdk/tests/integration/http-client.test.ts
  packages/javascript-sdk/tests/integration/oauth2-client.test.ts
  packages/javascript-sdk/tests/integration/token-storage.test-deactivate.ts
Labels: root, sdk, test

feat(reactjs-todo): add social login for react todo sample app
  samples/angular-todo/src/app/features/journey/form/form.component.html
  samples/reactjs-todo/client/components/icons/apple-icon.js
  samples/reactjs-todo/client/components/icons/google-icon.js
  samples/reactjs-todo/client/components/journey/form.js
  samples/reactjs-todo/client/components/journey/identity-provider.js
  samples/reactjs-todo/client/components/journey/journey-state.js
  samples/reactjs-todo/client/styles/_custom-styles.scss
Labels: samples

feat(javascript-sdk): include raw response to OAuth token return
  e2e/autoscript-apps/src/authn-oauth/autoscript.ts
  e2e/autoscript-suites/src/suites/authn-oauth.lc.test.ts
  e2e/autoscript-suites/src/suites/authz-txn-basic-json.test.ts
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/oauth2-client/interfaces.ts
  packages/javascript-sdk/src/shared/interfaces.ts
  packages/javascript-sdk/src/token-manager/index.ts
Labels: sdk, test

feat(reactjs-todo): fix bugs
  samples/reactjs-todo/client/components/journey/kba.js
  samples/todo-api/src/app/middleware.js
Labels: samples

fix(javascript-sdk): package-json
  .gitignore
  nx.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
Labels: NX, root, sdk

build: update-nx
  .env.local.example
  .eslintrc.json
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  e2e/autoscript-suites/project.json
  e2e/mock-api/project.json
  e2e/mock-api/src/app/app.certs.js
  e2e/mock-api/src/index.js
  e2e/mock-api/tsconfig.app.json
  e2e/mock-api/webpack.config.js
  e2e/token-vault-app/project.json
  e2e/token-vault-app/vite.config.ts
  e2e/token-vault-app/vite.interceptor.config.ts
  e2e/token-vault-proxy/project.json
  e2e/token-vault-proxy/vite.config.ts
  e2e/token-vault-suites/project.json
  jest.config.ts
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/.eslintrc.json
  packages/javascript-sdk/project.json
  packages/token-vault/project.json
  plugins/wait-for-api/project.json
  samples/angular-todo/.eslintrc.json
  samples/angular-todo/project.json
  samples/central-login/project.json
  samples/embedded-login/project.json
  samples/reactjs-todo/.eslintrc.json
  samples/reactjs-todo/project.json
  samples/todo-api/project.json
  shared/network/project.json
  shared/types/project.json
  shared/workers/project.json
Labels: CI, NX, root, samples, sdk, test

docs(javascript-sdk): update-changelog-and-version
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package-lock.json
  packages/javascript-sdk/package.json
Labels: docs, sdk

ci: remove-previews
  .github/workflows/commit-check.yml
  .github/workflows/destroy_preview.yml
  .github/workflows/preview.yml
  samples/angular-todo/src/environments/environment.ts
Labels: CI, samples

feat(reactjs-todo): add WebAuthn support for react todo sample app
  samples/reactjs-todo/client/components/icons/finger-print-icon.js
  samples/reactjs-todo/client/components/journey/confirmation.js
  samples/reactjs-todo/client/components/journey/form.js
  samples/reactjs-todo/client/components/journey/text-output.js
  samples/reactjs-todo/client/components/journey/web-authn.js
  samples/reactjs-todo/client/components/utilities/loading.js
  samples/reactjs-todo/client/views/login.js
  samples/reactjs-todo/client/views/register.js
Labels: samples

feat(javascript-sdk): add QR Code utility class
  e2e/autoscript-apps/src/authn-otp-reg/autoscript.ts
  e2e/autoscript-apps/src/authn-otp-reg/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/authn-otp-reg.test.ts
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  e2e/token-vault-suites/src/basic.test.ts
  packages/javascript-sdk/src/fr-qr-code/index.mock.data.ts
  packages/javascript-sdk/src/fr-qr-code/index.test.ts
  packages/javascript-sdk/src/fr-qr-code/index.ts
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.mock.data.ts
  packages/javascript-sdk/src/index.ts
Labels: sdk, test

fix(mock-api): fix-introspect-call
  e2e/mock-api/src/app/routes.resource.js
  samples/angular-todo/src/environments/environment.ts
  samples/todo-api/src/app/middleware.js
Labels: samples, test

feat(javascript-sdk): make-prefix-configurable
  e2e/autoscript-suites/playwright.config.ts
  e2e/mock-api/src/environments/environment.ts
  package-lock.json
  package.json
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/fr-auth/index.ts
  packages/javascript-sdk/src/fr-device/device-profile.test.ts
  packages/javascript-sdk/src/fr-device/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
  packages/javascript-sdk/src/token-storage/local-storage.ts
  packages/javascript-sdk/src/token-storage/session-storage.ts
  packages/javascript-sdk/tests/integration/fr-auth.test.ts
  packages/javascript-sdk/tests/integration/http-client.test.ts
  packages/javascript-sdk/tests/integration/oauth2-client.test.ts
  packages/javascript-sdk/tests/integration/token-storage.test-deactivate.ts
Labels: root, sdk, test

docs(javascript-sdk): update-changelog-and-version
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package-lock.json
  packages/javascript-sdk/package.json
Labels: docs, sdk

feat(reactjs-todo): add social login for react todo sample app
  samples/angular-todo/src/app/features/journey/form/form.component.html
  samples/reactjs-todo/client/components/icons/apple-icon.js
  samples/reactjs-todo/client/components/icons/google-icon.js
  samples/reactjs-todo/client/components/journey/form.js
  samples/reactjs-todo/client/components/journey/identity-provider.js
  samples/reactjs-todo/client/components/journey/journey-state.js
  samples/reactjs-todo/client/styles/_custom-styles.scss
Labels: samples

fix(javascript-sdk): package-json
  .gitignore
  nx.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
Labels: NX, root, sdk

feat(reactjs-todo): fix bugs
  samples/reactjs-todo/client/components/journey/kba.js
  samples/todo-api/src/app/middleware.js
Labels: samples

chore(reactjs-todo): fix journey-state with multi-step failure
  samples/reactjs-todo/client/components/journey/form.js
  samples/reactjs-todo/client/components/journey/journey-state.js
  samples/reactjs-todo/client/components/journey/text-output.js
  samples/reactjs-todo/client/components/journey/web-authn.js
Labels: samples

ci: remove-previews
  .github/workflows/commit-check.yml
  .github/workflows/destroy_preview.yml
  .github/workflows/preview.yml
  samples/angular-todo/src/environments/environment.ts
Labels: CI, samples

feat(javascript-sdk): handle-device-name-in-response
  .github/workflows/ci.yml
  .verdaccio/config.yml
  e2e/autoscript-suites/package.json
  e2e/autoscript-suites/tsconfig.spec.json
  e2e/mock-api/src/index.js
  package-lock.json
  packages/javascript-sdk/src/fr-recovery-codes/index.ts
  packages/javascript-sdk/src/fr-recovery-codes/recovery-codes.test.ts
  packages/javascript-sdk/src/fr-recovery-codes/script-parser.test.ts
  packages/javascript-sdk/src/fr-recovery-codes/script-parser.ts
  packages/javascript-sdk/src/fr-recovery-codes/script-text.mock.data.ts
  plugins/wait-for-api/tsconfig.lib.json
Labels: CI, root, sdk, test

ci: ci-update-node
  .eslintrc.json
  .github/workflows/ci.yml
  .prettierignore
  commitlint.config.js
  e2e/autoscript-apps/project.json
  e2e/autoscript-apps/src/authz-tree-basic-redirect/autoscript.ts
  e2e/autoscript-suites/package.json
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/project.json
  e2e/mock-api/project.json
  e2e/token-vault-app/project.json
  e2e/token-vault-app/vite.config.ts
  e2e/token-vault-app/vite.interceptor.config.ts
  e2e/token-vault-proxy/project.json
  e2e/token-vault-proxy/vite.config.ts
  e2e/token-vault-suites/project.json
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/.eslintrc.json
  packages/javascript-sdk/project.json
  packages/token-vault/project.json
  plugins/wait-for-api/project.json
  samples/angular-todo/.eslintrc.json
  samples/angular-todo/project.json
  samples/central-login/project.json
  samples/embedded-login/project.json
  samples/reactjs-todo/.eslintrc.json
  samples/reactjs-todo/project.json
  samples/todo-api/project.json
  shared/network/project.json
  shared/types/project.json
  shared/workers/project.json
Labels: CI, NX, root, samples, sdk, test

build: update-package-lock
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/src/suites/authz-tree-basic-json.test.ts
  package-lock.json
Labels: root, test

feat(ping-protect): new module for Ping Protect
  e2e/autoscript-apps/src/authn-protect/autoscript.ts
  e2e/autoscript-apps/src/authn-protect/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/authn-protect.test.ts
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  package-lock.json
  package.json
  packages/javascript-sdk/src/auth/enums.ts
  packages/javascript-sdk/src/fr-auth/callbacks/factory.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-evaluation-callback.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/.eslintrc.json
  packages/ping-protect/README.md
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/src/index.ts
  packages/ping-protect/src/lib/ping-protect.ts
  packages/ping-protect/src/lib/ping-signals-sdk.js
  packages/ping-protect/tsconfig.json
  packages/ping-protect/tsconfig.lib.json
  packages/ping-protect/tsconfig.spec.json
  packages/ping-protect/vite.config.ts
  tsconfig.base.json
Labels: docs, NX, root, sdk, test

fix(javascript-sdk): circular-dependency
  packages/javascript-sdk/src/auth/index.ts
  packages/javascript-sdk/src/auth/interfaces.ts
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/fr-auth/index.ts
Labels: sdk

fix(javascript-sdk): sessionStorage conflict
  e2e/autoscript-apps/src/authn-central-login/autoscript.ts
  e2e/autoscript-suites/src/suites/authn-central-login.test.ts
  e2e/mock-api/src/app/routes.auth.js
  package-lock.json
  packages/javascript-sdk/src/token-manager/index.ts
Labels: root, sdk, test

test: update tests for ping protect and add some for sdk. e2e tests for ping protect
  e2e/autoscript-apps/src/authn-protect/autoscript.ts
  e2e/autoscript-suites/src/suites/authn-protect.test.ts
  e2e/autoscript-suites/src/utilities/setup-and-go.ts
  package-lock.json
  package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-evaluation-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/index.test.ts
  packages/javascript-sdk/tsconfig.lib.json
  packages/ping-protect/project.json
  packages/ping-protect/src/index.test.ts
  packages/ping-protect/src/lib/ping-protect.test.ts
  packages/ping-protect/tsconfig.lib.json
  packages/ping-protect/vite.config.ts
  packages/ping-protect/vitest.setup.ts
  shared/network/project.json
  shared/network/tsconfig.json
  shared/network/tsconfig.lib.json
  shared/network/tsconfig.spec.json
  shared/types/project.json
  shared/types/tsconfig.lib.json
  shared/workers/project.json
  shared/workers/tsconfig.lib.json
  vitest.workspace.ts
Labels: NX, root, sdk, test

build: update nx to 17, and update the builds that fail as a result of dependency changes
  .eslintrc.json
  .prettierignore
  e2e/autoscript-apps/src/authz-txn-basic-json/autoscript.ts
  e2e/autoscript-suites/project.json
  e2e/mock-api/project.json
  e2e/token-vault-app/project.json
  e2e/token-vault-app/tsconfig.app.json
  e2e/token-vault-app/tsconfig.json
  e2e/token-vault-app/vite.config.ts
  e2e/token-vault-app/vite.interceptor.config.ts
  e2e/token-vault-proxy/project.json
  e2e/token-vault-proxy/src/main.ts
  e2e/token-vault-proxy/tsconfig.json
  e2e/token-vault-proxy/vite.config.ts
  e2e/token-vault-suites/project.json
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/.eslintrc.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/tsconfig.json
  packages/ping-protect/project.json
  packages/ping-protect/tsconfig.lib.json
  packages/token-vault/package.json
  packages/token-vault/project.json
  packages/token-vault/src/lib/proxy.ts
  plugins/wait-for-api/project.json
  samples/angular-todo/.eslintrc.json
  samples/angular-todo/project.json
  samples/central-login/project.json
  samples/embedded-login/project.json
  samples/reactjs-todo/.eslintrc.json
  samples/reactjs-todo/project.json
  samples/todo-api/project.json
  tsconfig.base.json
Labels: NX, root, samples, sdk, test

refactor(autoscript-suites): use-playwright-executor
  e2e/autoscript-apps/vite.config.ts
  e2e/autoscript-suites/.eslintrc.json
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/project.json
  package-lock.json
  package.json
  plugins/wait-for-api/.eslintrc.json
  plugins/wait-for-api/README.md
  plugins/wait-for-api/executors.json
  plugins/wait-for-api/jest.config.ts
  plugins/wait-for-api/package.json
  plugins/wait-for-api/project.json
  plugins/wait-for-api/src/executors/run-targets/run.impl.ts
  plugins/wait-for-api/src/executors/run-targets/schema.d.ts
  plugins/wait-for-api/src/executors/run-targets/schema.json
  plugins/wait-for-api/src/executors/run-targets/utils/is-api-live.ts
  plugins/wait-for-api/src/executors/run-targets/utils/nx-target.ts
  plugins/wait-for-api/src/executors/run-targets/utils/wait.ts
  plugins/wait-for-api/src/index.ts
  plugins/wait-for-api/tsconfig.json
  plugins/wait-for-api/tsconfig.lib.json
  plugins/wait-for-api/tsconfig.spec.json
Labels: docs, NX, root, test

feat(javascript-sdk): export-step-options-type
  packages/javascript-sdk/src/index.ts
Labels: sdk

fix(javascript-sdk): add PingOne login error to allowed errors
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
Labels: sdk

Update README.md
  README.md
Labels: docs, root

feat(javascript-sdk): add config.setAsync for wellknown endpoint support
  e2e/autoscript-apps/src/authn-central-login-wellknown/autoscript.ts
  e2e/autoscript-apps/src/authn-central-login-wellknown/index.html
  e2e/autoscript-apps/src/authn-wellknown/UsernamePassword.png
  e2e/autoscript-apps/src/authn-wellknown/autoscript.ts
  e2e/autoscript-apps/src/authn-wellknown/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/authn-central-login-wellknown.test.ts
  e2e/autoscript-suites/src/utilities/setup-and-go.ts
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  packages/javascript-sdk/src/config/enums.ts
  packages/javascript-sdk/src/config/helpers.test.ts
  packages/javascript-sdk/src/config/helpers.ts
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/config/well-known.mock.ts
Labels: sdk, test

chore: release-work
  CHANGELOG.md
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
  packages/ping-protect/CHANGELOG.md
  packages/ping-protect/package.json
Labels: docs, root, sdk

chore(ping-protect): fix-asset-generation
  packages/javascript-sdk/src/fr-qr-code/index.ts
  packages/ping-protect/project.json
Labels: NX, sdk

feat(shared-network): new request header
  e2e/autoscript-suites/src/suites/send-request-header.test.ts
  e2e/autoscript-suites/src/utilities/setup-and-go.ts
  packages/javascript-sdk/src/auth/index.ts
  packages/javascript-sdk/src/session-manager/index.ts
  packages/javascript-sdk/src/shared/constants.ts
  samples/angular-todo/README.md
  samples/reactjs-todo/README.md
Labels: docs, samples, sdk, test

fix(javascript-sdk): fix-exports-update-protect
  e2e/mock-api/src/app/responses.js
  package-lock.json
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
  packages/javascript-sdk/src/index.test.ts
  packages/javascript-sdk/src/index.ts
  packages/ping-protect/CHANGELOG.md
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/src/lib/ping-protect.test.ts
  packages/ping-protect/src/lib/ping-protect.ts
  packages/ping-protect/tsconfig.json
  packages/ping-protect/tsconfig.lib.json
Labels: docs, NX, root, sdk, test

build: update-nx-17
  .eslintrc.json
  .prettierignore
  e2e/autoscript-apps/src/authz-txn-basic-json/autoscript.ts
  e2e/autoscript-suites/project.json
  e2e/mock-api/project.json
  e2e/token-vault-app/project.json
  e2e/token-vault-app/tsconfig.app.json
  e2e/token-vault-app/tsconfig.json
  e2e/token-vault-app/vite.config.ts
  e2e/token-vault-app/vite.interceptor.config.ts
  e2e/token-vault-proxy/project.json
  e2e/token-vault-proxy/src/main.ts
  e2e/token-vault-proxy/tsconfig.json
  e2e/token-vault-proxy/vite.config.ts
  e2e/token-vault-suites/project.json
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/.eslintrc.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/tsconfig.json
  packages/ping-protect/project.json
  packages/ping-protect/vite.config.ts
  packages/token-vault/package.json
  packages/token-vault/project.json
  packages/token-vault/src/lib/proxy.ts
  plugins/wait-for-api/project.json
  samples/angular-todo/.eslintrc.json
  samples/angular-todo/project.json
  samples/central-login/project.json
  samples/embedded-login/project.json
  samples/reactjs-todo/.eslintrc.json
  samples/reactjs-todo/project.json
  samples/todo-api/project.json
  tsconfig.base.json
Labels: NX, root, samples, sdk, test

refactor: update-nx-bump-and-e2e-changes
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-push
  .nx/workflows/dynamic-changesets.yml
  e2e/autoscript-apps/package.json
  e2e/autoscript-suites/package.json
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/project.json
  e2e/autoscript-suites/src/utilities/setup-and-go.ts
  e2e/mock-api/package.json
  e2e/mock-api/project.json
  e2e/mock-api/src/app/app.auth.js
  e2e/mock-api/src/app/app.certs.js
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  e2e/mock-api/src/app/routes.resource.js
  e2e/mock-api/src/index.js
  e2e/mock-api/tsconfig.app.json
  e2e/token-vault-suites/playwright.config.ts
  e2e/token-vault-suites/project.json
  nx.json
  package-lock.json
  package.json
Labels: CI, NX, root, test

refactor: project-crystal
  .env.example
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  .husky/pre-commit
  .husky/pre-push
  .node-version
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/teardown.ts
  e2e/mock-api/package.json
  e2e/token-vault-suites/playwright.config.ts
  nx.json
  package-lock.json
  package.json
Labels: CI, NX, root, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

samples:
  - samples/**/*

sdk:
  - packages/javascript-sdk/*
  - packages/javascript-sdk/**/*

test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js
