Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, samples, sdk, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

samples:
  - samples/**/*

sdk:
  - packages/javascript-sdk/*
  - packages/javascript-sdk/**/*

test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js

ci: use-sem-release-nx
  .github/workflows/merge.yml
  .releaserc.json
  e2e/autoscript-apps/package.json
  e2e/mock-api/package.json
  package-lock.json
  package.json
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/project.json
  samples/reactjs-todo/package.json
  samples/todo-api/package.json
  samples/todo-api/project.json
Labels: CI, docs, NX, root, samples, sdk, test

ci: fix-nx-publish
  .github/workflows/merge.yml
Labels: CI

ci: merge-yml
  .github/workflows/merge.yml
Labels: CI

ci: fix-nx-cloud-cache
  .github/workflows/ci.yml
Labels: CI

ci: add-cloud-install-to-merge
  .github/workflows/merge.yml
Labels: CI

chore: remove-saml-from-changelog
  CHANGELOG.md
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, root, sdk

chore: remove-saml-from-changelog
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

ci: preview-environments
  .dockerignore
  .env.example
  .github/workflows/destroy_preview.yml
  .github/workflows/labeler.yml
  .github/workflows/preview.yml
  .github/workflows/slack-notify.yml
  .stignore
  Dockerfile
  docker-compose.yml
  okteto-pipeline.yml
  okteto.yml
  samples/angular-todo/Dockerfile
  samples/angular-todo/README.md
  samples/angular-todo/project.json
  samples/angular-todo/set-env.mjs
  samples/angular-todo/src/app/app.component.ts
  samples/angular-todo/src/environments/environment.prod.ts
  samples/central-login/Dockerfile
  samples/embedded-login/.env.example
  samples/embedded-login/Dockerfile
  samples/embedded-login/project.json
  samples/embedded-login/src/main.js
  samples/reactjs-todo/.env.example
  samples/reactjs-todo/Dockerfile
  samples/reactjs-todo/README.md
  samples/reactjs-todo/client/constants.js
  samples/reactjs-todo/client/index.js
  samples/reactjs-todo/project.json
  samples/reactjs-todo/webpack.config.js
  samples/todo-api/src/index.js
Labels: CI, docs, NX, root, samples

feat(update-cors-cloud): update-cors-on-fly
  lib/update-cors-cloud/.eslintrc.json
  lib/update-cors-cloud/.swcrc
  lib/update-cors-cloud/README.md
  lib/update-cors-cloud/jest.config.js
  lib/update-cors-cloud/package-lock.json
  lib/update-cors-cloud/package.json
  lib/update-cors-cloud/project.json
  lib/update-cors-cloud/src/index.spec.ts
  lib/update-cors-cloud/src/index.ts
  lib/update-cors-cloud/src/lib/authenticate-cloud.spec.ts
  lib/update-cors-cloud/src/lib/authenticate-cloud.ts
  lib/update-cors-cloud/src/lib/constants.ts
  lib/update-cors-cloud/src/lib/update-cors-cloud.spec.ts
  lib/update-cors-cloud/src/lib/update-cors-cloud.ts
  lib/update-cors-cloud/test/setup-env.ts
  lib/update-cors-cloud/tsconfig.json
  lib/update-cors-cloud/tsconfig.lib.json
  lib/update-cors-cloud/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Labels: docs, NX, root

feat(update-cors-cloud): construct-urls-for-env
  .gitignore
  lib/update-cors-cloud/README.md
  lib/update-cors-cloud/package.json
  lib/update-cors-cloud/project.json
  lib/update-cors-cloud/src/index.spec.ts
  lib/update-cors-cloud/src/index.ts
  lib/update-cors-cloud/src/lib/authenticate-cloud.ts
  lib/update-cors-cloud/src/lib/construct-urls.spec.ts
  lib/update-cors-cloud/src/lib/construct-urls.ts
  lib/update-cors-cloud/src/lib/update-cors-cloud.spec.ts
  lib/update-cors-cloud/src/lib/update-cors-cloud.ts
  lib/update-cors-cloud/test/setup-env.ts
  package-lock.json
  samples/angular-todo/src/environments/environment.ts
Labels: docs, NX, root, samples

build: use-okteto-manifest
  docker-compose.yml
  okteto-pipeline.yml
  okteto.yml
  samples/angular-todo/set-env.mjs
Labels: root, samples

ci: implement-cors-updating
  .github/workflows/ci.yml
  .github/workflows/preview.yml
  lib/update-cors-cloud/README.md
  lib/update-cors-cloud/jest.config.ts
  lib/update-cors-cloud/package.json
  lib/update-cors-cloud/project.json
  lib/update-cors-cloud/src/action.yml
  lib/update-cors-cloud/src/index.spec.ts
  lib/update-cors-cloud/src/index.ts
  lib/update-cors-cloud/src/lib/authenticate-cloud.spec.ts
  lib/update-cors-cloud/src/lib/constants.ts
  lib/update-cors-cloud/src/lib/update-cors-cloud.spec.ts
  lib/update-cors-cloud/src/lib/update-cors-cloud.ts
  lib/update-cors-cloud/test/setup-env.ts
  package-lock.json
  package.json
Labels: CI, docs, NX, root

ci: add-cors-github-action
  .github/workflows/merge.yml
  .github/workflows/preview.yml
Labels: CI

feat: okteto-v2-dynamic-cors-pipeline This attempts to upgrade okteto to v2 and implement the necessary steps to call an am tenant and update the cors configuration
  docker-compose.yml
  lib/update-cors-cloud/src/index.spec.ts
  lib/update-cors-cloud/src/index.ts
  lib/update-cors-cloud/src/lib/construct-urls.spec.ts
  lib/update-cors-cloud/src/lib/construct-urls.ts
  lib/update-cors-cloud/test/setup-env.ts
  okteto-pipeline.yml
  okteto.yml
Labels: root

build: working-on-manifest-v2
  .github/workflows/preview.yml
  Dockerfile
  docker-compose.yml
  e2e/autoscript-apps/project.json
  e2e/autoscript-suites/src/suites/umd-bundle-check.test.ts
  lib/update-cors-cloud/.babelrc
  lib/update-cors-cloud/src/index.ts
  okteto.yml
  package-lock.json
  samples/central-login/project.json
  samples/embedded-login/project.json
  samples/reactjs-todo/project.json
Labels: CI, NX, root, samples, test

ci: remove-cors-cloud-package
  .github/workflows/preview.yml
  lib/update-cors-cloud/.babelrc
  lib/update-cors-cloud/.eslintrc.json
  lib/update-cors-cloud/.swcrc
  lib/update-cors-cloud/README.md
  lib/update-cors-cloud/jest.config.ts
  lib/update-cors-cloud/package-lock.json
  lib/update-cors-cloud/package.json
  lib/update-cors-cloud/project.json
  lib/update-cors-cloud/src/action.yml
  lib/update-cors-cloud/src/index.ts
  lib/update-cors-cloud/src/lib/authenticate-cloud.spec.ts
  lib/update-cors-cloud/src/lib/authenticate-cloud.ts
  lib/update-cors-cloud/src/lib/constants.ts
  lib/update-cors-cloud/src/lib/update-cors-cloud.spec.ts
  lib/update-cors-cloud/src/lib/update-cors-cloud.ts
  lib/update-cors-cloud/test/setup-env.ts
  lib/update-cors-cloud/tsconfig.json
  lib/update-cors-cloud/tsconfig.lib.json
  lib/update-cors-cloud/tsconfig.spec.json
  okteto.yml
  samples/reactjs-todo/webpack.config.js
  workspace.json
Labels: CI, docs, NX, root, samples

ci: preview-env-deploy
  Dockerfile
  docker-compose.yml
Labels: root

ci: work-on-secrets
  .github/workflows/preview.yml
Labels: CI

ci: fix-action
  .github/workflows/destroy_preview.yml
Labels: CI

fix: fix-issues-in-destroy-actions
  .github/workflows/destroy_preview.yml
Labels: CI

ci: setup-develop-and-master
  .github/workflows/Development.yml
  .github/workflows/Master.yml
  .github/workflows/merge.yml
  docker-compose.yml
  packages/javascript-sdk/project.json
  samples/todo-api/Dockerfile
Labels: CI, NX, root, samples, sdk

Updating dev volume size for angular-todo service.
  okteto.yml
Labels: root

Reducing size of dev volume to fit under quota.
  okteto.yml
Labels: root

ci: update-release-process
  .github/workflows/merge.yml
Labels: CI

ci: update-publish-to-beta
  packages/javascript-sdk/project.json
Labels: NX, sdk

ci: nx-affected-fix
  nx.json
Labels: NX, root

ci: disable-dte-for-version
  .github/workflows/merge.yml
Labels: CI

chore(javascript-sdk): release version 3.3.2-beta.0
  packages/javascript-sdk/package.json
Labels: sdk

ci: add-base-to-affected-beta
  .github/workflows/merge.yml
Labels: CI

fix(javascript-sdk): fixing-comment
  packages/javascript-sdk/src/fr-auth/callbacks/polling-wait-callback.ts
Labels: sdk

fix(javascript-sdk): fix-profile-object-checks
  packages/javascript-sdk/src/fr-device/index.ts
Labels: sdk

refactor: lock-dependencies-and-update
  package-lock.json
  package.json
  samples/angular-todo/package.json
  samples/angular-todo/tsconfig.json
  samples/reactjs-todo/client/styles/index.scss
  samples/reactjs-todo/package.json
  samples/todo-api/package.json
Labels: root, samples

run-nx-migrations
  e2e/autoscript-apps/project.json
  e2e/autoscript-suites/project.json
  e2e/mock-api/jest.config.ts
  e2e/mock-api/project.json
  e2e/mock-api/tsconfig.app.json
  e2e/mock-api/tsconfig.spec.json
  jest.config.ts
  jest.preset.js
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/jest.integration.config.js
  packages/javascript-sdk/jest.unit.config.ts
  packages/javascript-sdk/project.json
  packages/javascript-sdk/tsconfig.lib.json
  packages/javascript-sdk/tsconfig.spec.json
  samples/angular-todo/jest.config.ts
  samples/angular-todo/project.json
  samples/angular-todo/tsconfig.app.json
  samples/angular-todo/tsconfig.spec.json
  samples/reactjs-todo/jest.config.ts
  samples/reactjs-todo/package.json
  samples/reactjs-todo/project.json
  samples/reactjs-todo/tsconfig.app.json
  samples/reactjs-todo/tsconfig.spec.json
  samples/todo-api/jest.config.ts
  samples/todo-api/project.json
  samples/todo-api/tsconfig.app.json
  samples/todo-api/tsconfig.spec.json
  workspace.json
Labels: NX, root, samples, sdk, test

refactor: lock-dependencies-and-update
  e2e/autoscript-apps/tsconfig.app.json
  jest.config.ts
  jest.preset.js
  package-lock.json
  package.json
  packages/javascript-sdk/jest.unit.config.ts
  packages/javascript-sdk/project.json
  packages/javascript-sdk/rollup.config.js
  packages/javascript-sdk/tsconfig.lib.json
  samples/reactjs-todo/client/components/journey/form.js
  samples/reactjs-todo/client/index.js
  samples/reactjs-todo/client/router.js
  samples/reactjs-todo/client/utilities/route.js
  samples/reactjs-todo/client/views/home.js
  samples/reactjs-todo/client/views/logout.js
  samples/reactjs-todo/package.json
Labels: NX, root, samples, sdk, test

refactor: lock-dependencies-and-update
  e2e/autoscript-apps/project.json
  e2e/autoscript-suites/project.json
  e2e/mock-api/jest.config.ts
  e2e/mock-api/project.json
  e2e/mock-api/tsconfig.app.json
  e2e/mock-api/tsconfig.spec.json
  jest.config.ts
  jest.preset.js
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/jest.integration.config.js
  packages/javascript-sdk/jest.unit.config.ts
  packages/javascript-sdk/project.json
  packages/javascript-sdk/rollup.config.js
  packages/javascript-sdk/tsconfig.lib.json
  packages/javascript-sdk/tsconfig.spec.json
  samples/angular-todo/jest.config.ts
  samples/angular-todo/package.json
  samples/angular-todo/project.json
  samples/angular-todo/tsconfig.app.json
  samples/angular-todo/tsconfig.json
  samples/angular-todo/tsconfig.spec.json
  samples/reactjs-todo/client/index.js
  samples/reactjs-todo/client/router.js
  samples/reactjs-todo/client/styles/index.scss
  samples/reactjs-todo/client/utilities/route.js
  samples/reactjs-todo/jest.config.ts
  samples/reactjs-todo/package.json
  samples/reactjs-todo/project.json
  samples/reactjs-todo/tsconfig.app.json
  samples/reactjs-todo/tsconfig.spec.json
  samples/todo-api/jest.config.ts
  samples/todo-api/package.json
  samples/todo-api/project.json
  samples/todo-api/tsconfig.app.json
  samples/todo-api/tsconfig.spec.json
  workspace.json
Labels: NX, root, samples, sdk, test

refactor: ci-and-readme-changes
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  .github/workflows/slack-notify.yml
  .husky/pre-commit
  .node-version
  CONTRIBUTING.md
  README.md
  package-lock.json
  packages/javascript-sdk/package.json
Labels: CI, docs, root, sdk

fix: pr-comments
  CONTRIBUTING.md
Labels: docs, root

ci: add-base-to-affected-beta
  .github/workflows/ci.yml
  .github/workflows/merge.yml
  .github/workflows/slack-notify.yml
  .husky/pre-commit
  .node-version
  CONTRIBUTING.md
  README.md
  package-lock.json
  packages/javascript-sdk/package.json
Labels: CI, docs, root, sdk

feat(javascript-sdk): added-text-input-callback
  packages/javascript-sdk/src/auth/enums.ts
  packages/javascript-sdk/src/fr-auth/callbacks/factory.ts
  packages/javascript-sdk/src/fr-auth/callbacks/text-input-callback.ts
  packages/javascript-sdk/src/index.ts
Labels: sdk

ci: angualar-executor-doesnt-have-head-and-sha
  .github/workflows/merge.yml
Labels: CI
