Repository ForgeRock/forgerock-javascript-sdk, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, docs, NX, root, samples, sdk, test

fix(javascript-sdk): fix-export-maps-again the export maps were still wrong due to the src folder being preserved.
  packages/javascript-sdk/package.json
Labels: sdk

chore(javascript-sdk): release version 4.0.0-beta.10 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

chore: upgrade-estree
  package-lock.json
  package.json
Labels: root

chore(javascript-sdk): release version 4.0.0-beta.11 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

chore: ignore-chore-commit-type
  packages/javascript-sdk/project.json
Labels: NX, sdk

ci: run-affected-version
  .github/workflows/merge.yml
  nx.json
Labels: CI, NX, root

ci: affected-release
  .github/workflows/merge.yml
Labels: CI

fix(javascript-sdk): update-project-json
  .github/workflows/merge.yml
  packages/javascript-sdk/project.json
Labels: CI, NX, sdk

ci: semantic-release-bot
  .github/workflows/merge.yml
Labels: CI

ci: update-scripts-and-ci refactor env variables in ci into one central location instead of repeating the jobs in multiple places.
  .github/workflows/merge.yml
  nx.json
  scripts/update-package-json-sdk.js
Labels: CI, NX, root

chore: upgrade-nx
  .eslintrc.json
  package-lock.json
  package.json
  packages/javascript-sdk/package.json
Labels: root, sdk

style: fix-module-boundries-and-lock-file
  .eslintrc.json
  package-lock.json
Labels: root

style: support-commitizen
  .czrc
  .eslintrc.json
  .husky/prepare-commit-msg
  Dockerfile
  commitlint.config.js
  e2e/mock-api/.babelrc
  e2e/mock-api/project.json
  e2e/mock-api/tsconfig.app.json
  package-lock.json
  package.json
  samples/angular-todo/src/environments/environment.ts
  samples/embedded-login/_static/img/fr-ico.png
  samples/embedded-login/src/index.html
Labels: NX, root, samples, test

chore(javascript-sdk): release version 4.0.0-beta.13 [skip ci]
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
Labels: docs, sdk

style: commitizen-and-cz-git
  .husky/prepare-commit-msg
Labels: none

ci: fix-release
  .github/workflows/merge.yml
  .husky/prepare-commit-msg
Labels: CI

fix(javascript-sdk): update-ci-release
  .github/workflows/merge.yml
  .nxreleaserc.json
  package-lock.json
  package.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
Labels: CI, NX, root, sdk

fix(javascript-sdk): update-ci-release-and-webauthn-type
  .github/workflows/merge.yml
  .nxreleaserc.json
  e2e/mock-api/project.json
  package-lock.json
  package.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/src/fr-webauthn/index.ts
Labels: CI, NX, root, sdk, test

style: update-semantic-release-naming
  .github/workflows/merge.yml
  nx.json
  packages/javascript-sdk/project.json
Labels: CI, NX, root, sdk

feat: use changesets to better manage releases
  .changeset/config.json
  .changeset/pre.json
  .github/workflows/merge.yml
  e2e/autoscript-apps/package.json
  e2e/autoscript-suites/package.json
  nx.json
  package-lock.json
  package.json
  samples/angular-todo/package.json
  samples/angular-todo/src/environments/environment.ts
  samples/todo-api/package.json
Labels: CI, NX, root, samples, test

build: using-changesets
  .github/workflows/merge.yml
  packages/javascript-sdk/project.json
Labels: CI, NX, sdk

feat: use changesets to better manage releases
  .github/workflows/merge.yml
  package-lock.json
Labels: CI, root

build: update repo to have ci use new parralell flow
  .github/workflows/ci.yml
  e2e/autoscript-suites/project.json
  package-lock.json
  package.json
  samples/angular-todo/src/environments/environment.ts
Labels: CI, NX, root, samples, test

build(token-vault): update-tspaths-in-declaration-files
  .prettierrc
  .prettierrc.js
  package-lock.json
  package.json
  packages/token-vault/package.json
  packages/token-vault/project.json
  packages/token-vault/src/lib/client.types.ts
  packages/token-vault/tsconfig.json
  packages/token-vault/tsconfig.lib.json
  packages/token-vault/vite.config.ts
  shared/network/package.json
  shared/types/package.json
  shared/workers/package.json
Labels: NX, root

build(token-vault): update-tspaths-in-declaration-files
  .github/workflows/merge.yml
  .prettierrc
  .prettierrc.js
  package-lock.json
  package.json
  packages/token-vault/package.json
  packages/token-vault/project.json
  packages/token-vault/src/lib/client.types.ts
  packages/token-vault/tsconfig.json
  packages/token-vault/tsconfig.lib.json
  packages/token-vault/vite.config.ts
  shared/network/package.json
  shared/types/package.json
  shared/workers/package.json
Labels: CI, NX, root

ci: fix-ci-cloud
  .github/workflows/merge.yml
Labels: CI

build: make it so all packages have a version which is either the version it will update or 0's
  .changeset/config.json
  .changeset/pre.json
  e2e/mock-api/package.json
  samples/reactjs-todo/package.json
  samples/todo-api/package.json
  shared/network/package.json
  shared/types/package.json
  shared/workers/package.json
Labels: samples, test

build: fixing versions and package names
  .changeset/pre.json
  .prettierignore
  e2e/token-vault-app/package.json
  e2e/token-vault-proxy/package.json
  e2e/token-vault-suites/package.json
  package-lock.json
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, root, sdk, test

build: update-version-fields
  e2e/autoscript-apps/package.json
  e2e/autoscript-suites/package.json
  e2e/mock-api/package.json
  e2e/token-vault-app/package.json
  e2e/token-vault-proxy/package.json
  packages/javascript-sdk/package.json
  plugins/wait-for-api/package.json
  samples/angular-todo/package.json
  samples/reactjs-todo/package.json
  samples/todo-api/package.json
  shared/network/package.json
  shared/types/package.json
  shared/workers/package.json
Labels: samples, sdk, test

build: update-package-lock
  package-lock.json
Labels: root

build(shared-network): update-private-field
  commitlint.config.js
  shared/network/package.json
  shared/types/package.json
  shared/workers/package.json
Labels: root

build: make-access-public
  .changeset/config.json
  .github/workflows/merge.yml
  package-lock.json
  packages/token-vault/package.json
Labels: CI, root

build: update-changesets-workspaces
  .changeset/strange-olives-count.md
  .github/workflows/merge.yml
  packages/token-vault/package.json
  scripts/remove-workspaces-edits.js
  scripts/update-package-json-workspaces.js
Labels: CI, docs

fix: fixes sdk types further after running type compilation with token vault brought up errors
  .eslintrc.json
  e2e/autoscript-suites/playwright.config.ts
  e2e/token-vault-app/src/main.ts
  package-lock.json
  packages/javascript-sdk/src/fr-webauthn/index.ts
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
  packages/javascript-sdk/src/util/url.ts
  packages/token-vault/src/lib/client.ts
  packages/token-vault/tsconfig.lib.json
  packages/token-vault/vite.config.ts
  plugins/wait-for-api/src/executors/run-targets/utils/nx-target.ts
  samples/angular-todo/src/app/auth/auth.guard.ts
  samples/angular-todo/src/app/features/journey/boolean/boolean.component.ts
  samples/angular-todo/src/app/features/journey/choice/choice.component.ts
  shared/network/src/lib/network.utilities.ts
  shared/workers/src/lib/interceptor.ts
  tsconfig.base.json
Labels: root, samples, sdk, test

build(token-vault): use-ts-patch-transformers
  package-lock.json
  package.json
  packages/token-vault/project.json
  packages/token-vault/tsconfig.lib.json
  packages/token-vault/vite.config.ts
  shared/network/project.json
  shared/types/project.json
  shared/workers/project.json
Labels: NX, root

build(token-vault): update-token-vault-packaging
  .changeset/afraid-bears-hang.md
  .github/workflows/merge.yml
  package-lock.json
  package.json
  packages/javascript-sdk/src/fr-webauthn/index.ts
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/token-vault/LICENSE
  packages/token-vault/rollup.config.js
  packages/token-vault/tsconfig.types.json
  packages/token-vault/vite.config.ts
  scripts/remove-workspaces-edits.js
Labels: CI, docs, root, sdk

build: changesets-ignore-remove
  .changeset/config.json
  .changeset/pre.json
  .github/workflows/merge.yml
  packages/javascript-sdk/project.json
  packages/javascript-sdk/tsconfig.lib.json
  plugins/wait-for-api/package.json
Labels: CI, NX, sdk

build: update-packages
  package-lock.json
  packages/javascript-sdk/package.json
Labels: root, sdk

test(token-vault): improve e2e automation feature testing
  .gitignore
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  e2e/token-vault-app/index.html
  e2e/token-vault-app/src/interceptor.ts
  e2e/token-vault-app/src/main.ts
  e2e/token-vault-app/tsconfig.app.json
  e2e/token-vault-proxy/src/main.ts
  e2e/token-vault-proxy/tsconfig.app.json
  e2e/token-vault-suites/src/app.test.ts
  e2e/token-vault-suites/src/basic.test.ts
  e2e/token-vault-suites/src/utils/async-events.ts
  packages/token-vault/src/lib/client.ts
  packages/token-vault/src/lib/client.types.ts
Labels: root, test

test(token-vault): fix issue with Firefox
  .gitignore
  e2e/token-vault-app/index.html
  e2e/token-vault-app/project.json
  e2e/token-vault-app/src/main.ts
  e2e/token-vault-app/vite.config.ts
Labels: NX, root, test

.github/labeler.yml:

CI:
  - .github/*
  - .github/**/*

docs:
  - '*.md'
  - '**/*.md'

NX:
  - nx.json
  - workspace.json
  - '**/**/project.json'
root:
  - '*'

samples:
  - samples/**/*

sdk:
  - packages/javascript-sdk/*
  - packages/javascript-sdk/**/*

test:
  - e2e/**/*
  - jest*
  - packages/**/*.test.ts
  - packages/**/*.test.js
  - samples/**/*.test.ts
  - samples/**/*.test.js
