Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2022-09, with the labels that each got.

#278 ci: fix-release-set-author
  .github/workflows/merge.yml
Labels: CI

#280 ci: base-branch-for-push-on-release
  packages/javascript-sdk/project.json
Labels: sdk, NX

#281 fix(javascript-sdk): fix-release
  .github/workflows/merge.yml
  package.json
  packages/javascript-sdk/project.json
Labels: root, sdk, CI, NX

#283 feat(javascript-sdk): add support for TextInputCallback [external contribution]
  .github/workflows/preview.yml
  .null-ls_830268_docker-compose.yml
  docker-compose.yml
  e2e/autoscript-apps/src/misc-callbacks/autoscript.ts
  e2e/autoscript-suites/src/suites/misc-callbacks.lc.test.ts
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  packages/javascript-sdk/src/auth/enums.ts
  packages/javascript-sdk/src/fr-auth/callbacks/factory.ts
  packages/javascript-sdk/src/fr-auth/callbacks/text-input-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/text-input-callback.ts
  packages/javascript-sdk/src/index.ts
  samples/todo-api/Dockerfile
Labels: root, sdk, test, CI, samples

#284 ci: add-luis-as-publisher
  .github/workflows/merge.yml
Labels: CI

#285 fix: luis-email-fix
  .github/workflows/merge.yml
Labels: CI

#286 fix: luis-email-fix
  .github/workflows/merge.yml
Labels: CI
