Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2022-04, with the labels that each got.

#196 fix(react-sample): project and host error in react sample
  package.json
  samples/reactjs-todo/project.json
  samples/reactjs-todo/webpack.config.js
Labels: wip

#209 tests(new-webauthn-string): Verify new webauthn string parses
  packages/javascript-sdk/src/fr-webauthn/script-parser.test.ts
  packages/javascript-sdk/src/fr-webauthn/script-text.mock.data.ts
Labels: sdk, test

#172 feature(root): Notify sdk-cicd channel on PR
  .github/workflows/macos.yml
Labels: CI

#210 ci: Add commitlint to CI and husky
  .github/workflows/macos.yml
  .husky/commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Labels: root, CI

#216 Revert "ci: fix-ci-error"
  .github/workflows/macos.yml
Labels: CI

#217 ci: fix-ci-error
  .github/workflows/macos.yml
Labels: CI

#218 ci: fix-action-lint-again
  .github/workflows/macos.yml
Labels: CI
