Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2023-04, with the labels that each got.

#337 fix(javascript-sdk): failed-policies-json
  packages/javascript-sdk/src/fr-auth/callbacks/attribute-input-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/attribute-input-callback.ts
  packages/javascript-sdk/src/fr-auth/callbacks/validated-create-password-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/validated-create-password-callback.ts
  packages/javascript-sdk/src/fr-auth/callbacks/validated-create-username-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/validated-create-username-callback.ts
  samples/angular-todo/src/app/features/journey/password/password.component.ts
  samples/angular-todo/src/environments/environment.ts
  samples/reactjs-todo/client/components/journey/text.js
Labels: sdk, test, samples

#339 fix(javascript-sdk): fix-publish-readme-and-dist
  .nxreleaserc.json
  dist/packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
Labels: sdk, NX

#338 chore(javascript-sdk)!: refactor token storage and config timeout
  e2e/autoscript-apps/src/authn-central-login/autoscript.ts
  e2e/autoscript-suites/src/suites/config-token-storage.test.ts
  packages/javascript-sdk/src/config/constants.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/fr-auth/index.ts
  packages/javascript-sdk/src/fr-device/index.ts
  packages/javascript-sdk/src/http-client/helpers.ts
  packages/javascript-sdk/src/http-client/index.ts
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
  packages/javascript-sdk/src/token-storage/constants.ts
  packages/javascript-sdk/src/token-storage/index.ts
  packages/javascript-sdk/src/token-storage/indexed-db.ts
  packages/javascript-sdk/src/token-storage/local-storage.ts
  packages/javascript-sdk/src/token-storage/session-storage.ts
  packages/javascript-sdk/src/util/pkce.ts
  packages/javascript-sdk/src/util/storage.ts
  packages/javascript-sdk/src/util/timeout.ts
  samples/angular-todo/src/app/auth/auth.guard.ts
Labels: sdk, test, samples

#340 feat(javascript-sdk): register-device-name
  e2e/autoscript-apps/src/authn-webauthn-device-registration/autoscript.ts
  e2e/autoscript-apps/src/authn-webauthn-device-registration/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/mock-api/package.json
  e2e/mock-api/src/app/app.certs.js
  package-lock.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/src/fr-webauthn/index.ts
Labels: root, sdk, test, NX
