Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2023-08, with the labels that each got.

#382 docs(javascript-sdk): fix-changelog
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

#380 [Sample App] Create a social login sample app in SDK
  samples/angular-todo/project.json
  samples/angular-todo/src/app/app.component.ts
  samples/angular-todo/src/app/app.module.ts
  samples/angular-todo/src/app/features/journey/form/form.component.html
  samples/angular-todo/src/app/features/journey/form/form.component.ts
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.html
  samples/angular-todo/src/app/features/journey/identityProvider/identity-provider.component.ts
  samples/angular-todo/src/app/icons/apple-icon/apple-icon.component.html
  samples/angular-todo/src/app/icons/apple-icon/apple-icon.component.ts
  samples/angular-todo/src/app/icons/google-icon/google-icon.component.html
  samples/angular-todo/src/app/icons/google-icon/google-icon.component.ts
  samples/angular-todo/src/app/shared/idps.types.ts
  samples/angular-todo/src/callback.html
  samples/angular-todo/src/environments/environment.ts
  samples/angular-todo/src/styles/_custom-styles.scss
  samples/angular-todo/tsconfig.editor.json
  samples/angular-todo/tsconfig.json
Labels: NX, samples

#383 feat(angular-todo): add support for social login
  samples/angular-todo/src/app/features/journey/form/form.component.ts
Labels: samples

#381 feat(javascript-sdk): add-logger-functionality
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/fr-device/index.ts
  packages/javascript-sdk/src/fr-user/index.ts
  packages/javascript-sdk/src/http-client/helpers.ts
  packages/javascript-sdk/src/token-manager/index.ts
  packages/javascript-sdk/src/token-storage/index.ts
  packages/javascript-sdk/src/util/logger.test.ts
  packages/javascript-sdk/src/util/logger.ts
  packages/javascript-sdk/tests/integration/oauth2-client.test.ts
  packages/javascript-sdk/tests/integration/token-storage.test-deactivate.ts
  samples/angular-todo/src/environments/environment.ts
Labels: sdk, test, samples

#385 Fix proxy origins check
  e2e/mock-api/src/app/routes.auth.js
  e2e/token-vault-app/index.html
  e2e/token-vault-app/src/main.ts
  e2e/token-vault-proxy/src/main.ts
  e2e/token-vault-suites/project.json
  e2e/token-vault-suites/src/basic.test.ts
  packages/token-vault/README.md
  packages/token-vault/src/lib/proxy.ts
  shared/network/src/lib/network.utilities.test.ts
  shared/network/src/lib/network.utilities.ts
  shared/types/src/lib/config.types.ts
  shared/workers/src/lib/interceptor.test.ts
  shared/workers/src/lib/interceptor.ts
Labels: docs, test, NX
