Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2023-07, with the labels that each got.

#358 test(token-vault): improve e2e automation feature testing
  .env.local.example
  .github/workflows/ci.yml
  .gitignore
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  e2e/token-vault-app/index.html
  e2e/token-vault-app/project.json
  e2e/token-vault-app/src/interceptor.ts
  e2e/token-vault-app/src/main.ts
  e2e/token-vault-app/tsconfig.app.json
  e2e/token-vault-app/vite.config.ts
  e2e/token-vault-proxy/src/main.ts
  e2e/token-vault-proxy/tsconfig.app.json
  e2e/token-vault-suites/src/app.test.ts
  e2e/token-vault-suites/src/basic.test.ts
  e2e/token-vault-suites/src/utils/async-events.ts
  package.json
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/token-vault/src/lib/client.ts
  packages/token-vault/src/lib/client.types.ts
  samples/angular-todo/src/environments/environment.ts
Labels: root, sdk, test, CI, NX, samples

#365 fix(token-vault): removing /sessions endpoint from interception
  e2e/token-vault-app/project.json
  e2e/token-vault-app/vite.config.ts
  e2e/token-vault-app/vite.interceptor.config.ts
  nx.json
  package.json
  shared/workers/src/lib/worker.utilities.test.ts
  shared/workers/src/lib/worker.utilities.ts
Labels: root, test, NX

#368 fix(javascript-sdk): get-tokens-default-destructure
  packages/javascript-sdk/src/token-manager/index.test.ts
  packages/javascript-sdk/src/token-manager/index.ts
Labels: sdk, test

#370 chore: update-package-version
  packages/javascript-sdk/package.json
Labels: sdk

#371 Release 4.1.2
  .env.local.example
  .github/workflows/ci.yml
  .gitignore
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  e2e/token-vault-app/index.html
  e2e/token-vault-app/project.json
  e2e/token-vault-app/src/interceptor.ts
  e2e/token-vault-app/src/main.ts
  e2e/token-vault-app/tsconfig.app.json
  e2e/token-vault-app/vite.config.ts
  e2e/token-vault-app/vite.interceptor.config.ts
  e2e/token-vault-proxy/src/main.ts
  e2e/token-vault-proxy/tsconfig.app.json
  e2e/token-vault-suites/src/app.test.ts
  e2e/token-vault-suites/src/basic.test.ts
  e2e/token-vault-suites/src/utils/async-events.ts
  nx.json
  package.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/token-manager/index.test.ts
  packages/javascript-sdk/src/token-manager/index.ts
  packages/token-vault/src/lib/client.ts
  packages/token-vault/src/lib/client.types.ts
  samples/angular-todo/src/environments/environment.ts
  shared/workers/src/lib/worker.utilities.test.ts
  shared/workers/src/lib/worker.utilities.ts
Labels: root, sdk, test, CI, NX, samples

#373 chore(javascript-sdk): update-changelog
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

#374 changelog to master
  packages/javascript-sdk/CHANGELOG.md
Labels: docs, sdk

#375 docs(token-vault): add readme
  packages/token-vault/README.md
Labels: docs

#376 chore(token-vault): update-metadata-for-release
  CHANGELOG.md
  package-lock.json
  packages/token-vault/CHANGELOG.md
  packages/token-vault/LICENSE
  packages/token-vault/package.json
  packages/token-vault/rollup.config.js
  samples/angular-todo/src/environments/environment.ts
Labels: docs, root, samples

#378 Release Token Vault 4.1.2
  CHANGELOG.md
  package-lock.json
  packages/token-vault/CHANGELOG.md
  packages/token-vault/LICENSE
  packages/token-vault/README.md
  packages/token-vault/package.json
  packages/token-vault/rollup.config.js
  samples/angular-todo/src/environments/environment.ts
Labels: docs, root, samples
