Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2023-09, with the labels that each got.

#386 fix(javascript-sdk): expose-logger-functions-type
  packages/javascript-sdk/src/index.ts
Labels: sdk

#388 chore: update-versions
  packages/javascript-sdk/package.json
  packages/token-vault/package.json
Labels: sdk

#389 docs: update-changelogs
  package-lock.json
  packages/javascript-sdk/CHANGELOG.md
  packages/token-vault/CHANGELOG.md
Labels: docs, root, sdk

#390 feat(javascript-sdk): add QR Code utility class
  e2e/autoscript-apps/src/authn-otp-reg/autoscript.ts
  e2e/autoscript-apps/src/authn-otp-reg/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/authn-otp-reg.test.ts
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  e2e/token-vault-suites/src/basic.test.ts
  packages/javascript-sdk/src/fr-qr-code/index.mock.data.ts
  packages/javascript-sdk/src/fr-qr-code/index.test.ts
  packages/javascript-sdk/src/fr-qr-code/index.ts
  packages/javascript-sdk/src/fr-webauthn/fr-webauthn.mock.data.ts
  packages/javascript-sdk/src/index.ts
Labels: sdk, test

#391 build: remove-access-token-nx
  .github/workflows/ci.yml
  .github/workflows/commit-check.yml
  .github/workflows/destroy_preview.yml
  .github/workflows/labeler.yml
  .github/workflows/merge.yml
  .github/workflows/preview.yml
  .gitignore
  Dockerfile
  nx-cloud.example.env
  nx.json
  package.json
Labels: root, CI, NX

#392 build: remove-cloud-commands
  package.json
  samples/angular-todo/.env.example
  samples/angular-todo/src/environments/environment.ts
  samples/central-login/.env.example
  samples/embedded-login/.env.example
  samples/reactjs-todo/.env.example
  samples/todo-api/.env.example
Labels: root, samples
