Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2024-10, with the labels that each got.

#465 chore: fix-deps
  e2e/autoscript-suites/package.json
  e2e/autoscript-suites/playwright.config.ts
  e2e/autoscript-suites/project.json
  e2e/token-vault-proxy/package.json
  e2e/token-vault-proxy/project.json
  e2e/token-vault-suites/playwright.config.ts
  nx.json
  package.json
  packages/javascript-sdk/package.json
  packages/ping-protect/package.json
  packages/token-vault/package.json
  pnpm-lock.yaml
  project.json
Labels: root, sdk, test, NX

#469 chore: fix-side-effects
  e2e/autoscript-suites/project.json
  package.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/vite.config.ts
  packages/ping-protect/package.json
  pnpm-lock.yaml
Labels: root, sdk, test, NX

#470 chore: fix-subpath
  packages/javascript-sdk/package.json
Labels: sdk

#472 fix(javascript-sdk): change pkce utility to return storage function
  packages/javascript-sdk/src/oauth2-client/state-pkce.ts
  packages/javascript-sdk/src/token-manager/index.ts
Labels: sdk

#475 chore: update-changelogandpackage
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
  packages/ping-protect/CHANGELOG.md
  packages/ping-protect/package.json
Labels: docs, sdk

#468 feat(davinci-client): improve error handling, selectors and types
  e2e/davinci-app/.eslintignore
  e2e/davinci-app/components/flow-link.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/package.json
  e2e/davinci-app/project.json
  package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/config.slice.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/mock-data/davinci.error.mock.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/types.ts
  pnpm-lock.yaml
Labels: root, test, NX

#480 fix(davinci-client): fix-types
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/authorize.utils.ts
  packages/davinci-client/tsconfig.lib.json
  pnpm-lock.yaml
Labels: root
