Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2024-12, with the labels that each got.

#511 fix(davinci-client): address invalid client id with 302
  e2e/davinci-app/project.json
  nx.json
  packages/davinci-client/src/lib/davinci.utils.ts
Labels: root, test, NX

#509 fix: fix-the-url-type
  .changeset/fresh-mangos-bathe.md
  e2e/davinci-app/tsconfig.app.json
  e2e/davinci-app/tsconfig.json
  nx.json
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/config.types.ts
  packages/davinci-client/src/types.ts
Labels: root, test, NX

#512 chore: mend-failures
  e2e/autoscript-apps/project.json
  e2e/token-vault-app/index.html
  e2e/token-vault-app/src/styles.scss
  e2e/token-vault-app/tsconfig.app.json
  e2e/token-vault-interceptor/package.json
  e2e/token-vault-interceptor/project.json
  e2e/token-vault-proxy/index.html
  e2e/token-vault-proxy/project.json
  e2e/token-vault-proxy/src/styles.scss
  nx.json
  package.json
  packages/ping-protect/project.json
  packages/token-vault/project.json
  pnpm-lock.yaml
Labels: root, test, NX

#516 Version format fix
  .changeset/shaggy-eels-notice.md
  packages/davinci-client/CHANGELOG.md
  packages/davinci-client/package.json
Labels: docs

#524 chore: add-davinci-client-changelog
  CHANGELOG.md
Labels: docs, root

#525 docs: update-contributing-docs
  .github/pull_request_template.md
  contributing_docs/git.md
  contributing_docs/releases.md
Labels: docs, CI

#527 fix(javascript-sdk): prioritize displayName for WebAuthn name attribute
  .changeset/great-bobcats-fry.md
  e2e/autoscript-apps/src/authn-webauthn/autoscript.ts
  packages/javascript-sdk/src/fr-webauthn/index.ts
Labels: sdk, test
