Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2024-02, with the labels that each got.

#414 feat(javascript-sdk): add-getdisplayname-to-recoverycodes
  .github/workflows/ci.yml
  .verdaccio/config.yml
  e2e/autoscript-suites/package.json
  e2e/autoscript-suites/tsconfig.spec.json
  e2e/mock-api/src/index.js
  package-lock.json
  packages/javascript-sdk/src/fr-recovery-codes/index.ts
  packages/javascript-sdk/src/fr-recovery-codes/recovery-codes.test.ts
  packages/javascript-sdk/src/fr-recovery-codes/script-parser.test.ts
  packages/javascript-sdk/src/fr-recovery-codes/script-parser.ts
  packages/javascript-sdk/src/fr-recovery-codes/script-text.mock.data.ts
  plugins/wait-for-api/tsconfig.lib.json
Labels: root, sdk, test, CI

#415 feat(ping-protect): new module for Ping Protect
  e2e/autoscript-apps/src/authn-protect/autoscript.ts
  e2e/autoscript-apps/src/authn-protect/index.html
  e2e/autoscript-apps/src/index.html
  e2e/autoscript-apps/webpack.config.js
  e2e/autoscript-suites/src/suites/authn-protect.test.ts
  e2e/mock-api/src/app/responses.js
  e2e/mock-api/src/app/routes.auth.js
  package-lock.json
  package.json
  packages/javascript-sdk/src/auth/enums.ts
  packages/javascript-sdk/src/fr-auth/callbacks/factory.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-evaluation-callback.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.ts
  packages/ping-protect/.eslintrc.json
  packages/ping-protect/README.md
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/src/index.ts
  packages/ping-protect/src/lib/ping-protect.ts
  packages/ping-protect/src/lib/ping-signals-sdk.js
  packages/ping-protect/tsconfig.json
  packages/ping-protect/tsconfig.lib.json
  packages/ping-protect/tsconfig.spec.json
  packages/ping-protect/vite.config.ts
  tsconfig.base.json
Labels: docs, root, sdk, test, NX

#418 fix(javascript-sdk): circular-dependency
  packages/javascript-sdk/src/auth/index.ts
  packages/javascript-sdk/src/auth/interfaces.ts
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/fr-auth/index.ts
Labels: sdk

#421 test: update tests for ping protect and add some for sdk. e2e tests f…
  e2e/autoscript-apps/src/authn-protect/autoscript.ts
  e2e/autoscript-suites/src/suites/authn-protect.test.ts
  e2e/autoscript-suites/src/utilities/setup-and-go.ts
  package-lock.json
  package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-evaluation-callback.test.ts
  packages/javascript-sdk/src/fr-auth/callbacks/ping-protect-initialize-callback.test.ts
  packages/javascript-sdk/src/index.test.ts
  packages/javascript-sdk/tsconfig.lib.json
  packages/ping-protect/project.json
  packages/ping-protect/src/index.test.ts
  packages/ping-protect/src/lib/ping-protect.test.ts
  packages/ping-protect/tsconfig.lib.json
  packages/ping-protect/vite.config.ts
  packages/ping-protect/vitest.setup.ts
  shared/network/project.json
  shared/network/tsconfig.json
  shared/network/tsconfig.lib.json
  shared/network/tsconfig.spec.json
  shared/types/project.json
  shared/types/tsconfig.lib.json
  shared/workers/project.json
  shared/workers/tsconfig.lib.json
  vitest.workspace.ts
Labels: root, sdk, test, NX

#426 feat(javascript-sdk): export-step-options-type
  packages/javascript-sdk/src/index.ts
Labels: sdk

#427 fix(javascript-sdk): add PingOne login error to allowed errors
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/token-manager/index.ts
Labels: sdk
