Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2024-03, with the labels that each got.

#430 chore: release-work
  CHANGELOG.md
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
  packages/javascript-sdk/src/fr-qr-code/index.ts
  packages/ping-protect/CHANGELOG.md
  packages/ping-protect/package.json
  packages/ping-protect/project.json
Labels: docs, root, sdk, NX

#433 fix(javascript-sdk): fix-exports-update-protect
  e2e/mock-api/src/app/responses.js
  package-lock.json
  packages/javascript-sdk/CHANGELOG.md
  packages/javascript-sdk/package.json
  packages/javascript-sdk/src/index.test.ts
  packages/javascript-sdk/src/index.ts
  packages/ping-protect/CHANGELOG.md
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/src/lib/ping-protect.test.ts
  packages/ping-protect/src/lib/ping-protect.ts
  packages/ping-protect/tsconfig.json
  packages/ping-protect/tsconfig.lib.json
Labels: docs, root, sdk, test, NX

#432 feat: new request header
  e2e/autoscript-suites/src/suites/send-request-header.test.ts
  e2e/autoscript-suites/src/utilities/setup-and-go.ts
  packages/javascript-sdk/src/auth/index.ts
  packages/javascript-sdk/src/session-manager/index.ts
  packages/javascript-sdk/src/shared/constants.ts
  samples/angular-todo/README.md
  samples/reactjs-todo/README.md
Labels: docs, sdk, test, samples

#434 fix(ping-protect): update-module-type
  package-lock.json
  package.json
  packages/ping-protect/package.json
  packages/ping-protect/tsconfig.json
  packages/ping-protect/vite.config.ts
Labels: root
