Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2024-11, with the labels that each got.

#479 docs: typedoc-config
  packages/javascript-sdk/typedoc.json
  packages/ping-protect/typedoc.json
Labels: sdk

#483 chore: fix-command
  .github/workflows/publish.yml
  .npmrc
  e2e/davinci-app/project.json
  packages/davinci-client/package.json
Labels: test, CI, NX

#484 chore: pnpm worksaround
  .github/workflows/publish.yml
  packages/javascript-sdk/package.json
  packages/token-vault/package.json
  pnpm-lock.yaml
Labels: root, sdk, CI

#487 Fix command
  .changeset/config.json
  .github/workflows/publish.yml
  package.json
  packages/javascript-sdk/package.json
  packages/ping-protect/package.json
  packages/token-vault/package.json
Labels: root, sdk, CI

#488 chore: stash-before-checkout-ci
  .github/workflows/publish.yml
Labels: CI

#489 fix(davinci-client): fix-trailing-slash
  packages/davinci-client/src/lib/config.slice.test.ts
  packages/davinci-client/src/lib/config.slice.ts
Labels: test

#494 chore: update-nx
  .gitignore
  e2e/autoscript-suites/src/suites/authn-central-logout.test.ts
  package.json
  pnpm-lock.yaml
  project.json
Labels: root, test, NX

#491 fix(davinci-client): use-async-config-options
  .changeset/config.json
  .changeset/thin-tools-sing.md
  e2e/davinci-app/main.ts
  package.json
  packages/davinci-client/src/lib/config.types.ts
Labels: root, test

#493 fix(davinci-client): types-and-wellknown
  .changeset/thick-squids-wink.md
  e2e/davinci-app/main.ts
  packages/davinci-client/package.json
  packages/davinci-client/src/index.ts
  packages/davinci-client/src/lib/authorize.utils.ts
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/client.store.utils.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/config.slice.test.ts
  packages/davinci-client/src/lib/config.slice.ts
  packages/davinci-client/src/lib/config.types.ts
  packages/davinci-client/src/lib/davinci.api.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/index.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/lib/node.types.ts
  packages/davinci-client/src/lib/wellknown.api.ts
  packages/davinci-client/src/lib/wellknown.types.ts
  packages/davinci-client/src/types.ts
Labels: test

#492 test(automation): add more unit, integration and e2e test automation
  .eslintignore
  e2e/davinci-app/components/flow-link.ts
  e2e/davinci-app/components/password.ts
  e2e/davinci-app/components/protect.ts
  e2e/davinci-app/components/social-login-button.ts
  e2e/davinci-app/components/submit-button.ts
  e2e/davinci-app/components/text.ts
  e2e/davinci-app/main.ts
  e2e/davinci-app/project.json
  e2e/davinci-suites/.env.e2e
  e2e/davinci-suites/.eslintignore
  e2e/davinci-suites/.eslintrc.json
  e2e/davinci-suites/package.json
  e2e/davinci-suites/playwright.config.ts
  e2e/davinci-suites/project.json
  e2e/davinci-suites/src/basic.test.ts
  e2e/davinci-suites/src/error.test.ts
  e2e/davinci-suites/src/register.test.ts
  e2e/davinci-suites/src/utils/async-events.ts
  e2e/davinci-suites/teardown.ts
  e2e/davinci-suites/tsconfig.e2e.json
  e2e/davinci-suites/tsconfig.json
  e2e/token-vault-interceptor/package.json
  packages/davinci-client/package.json
  packages/davinci-client/src/lib/client.store.ts
  packages/davinci-client/src/lib/collector.types.ts
  packages/davinci-client/src/lib/collector.utils.test.ts
  packages/davinci-client/src/lib/collector.utils.ts
  packages/davinci-client/src/lib/config.slice.test.ts
  packages/davinci-client/src/lib/config.slice.ts
  packages/davinci-client/src/lib/config.types.ts
  packages/davinci-client/src/lib/davinci.types.ts
  packages/davinci-client/src/lib/davinci.utils.test.ts
  packages/davinci-client/src/lib/davinci.utils.ts
  packages/davinci-client/src/lib/mock-data/davinci.error.mock.ts
  packages/davinci-client/src/lib/mock-data/node.next.mock.ts
  packages/davinci-client/src/lib/mock-data/node.success.mock.ts
  packages/davinci-client/src/lib/node.reducer.test.ts
  packages/davinci-client/src/lib/node.reducer.ts
  packages/davinci-client/src/lib/node.slice.test.ts
  packages/davinci-client/src/lib/node.slice.ts
  packages/davinci-client/src/lib/wellknown.api.ts
  packages/davinci-client/src/lib/wellknown.types.ts
  packages/davinci-client/src/types.ts
  packages/davinci-client/tsconfig.lib.json
  packages/device-client/package.json
  packages/ping-protect/package.json
  packages/token-vault/package.json
  pnpm-lock.yaml
Labels: root, test, NX

#496 docs(davinci-client): update readme.md with detailed information
  packages/davinci-client/README.md
  packages/davinci-client/src/lib/authorize.utils.ts
  packages/davinci-client/src/lib/node.types.ts
Labels: docs
