Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2024-04, with the labels that each got.

#438 fix(javascript-sdk): change x-requested-platform to opt-in
  e2e/autoscript-apps/src/authn-basic/autoscript.ts
  e2e/autoscript-suites/src/suites/authn-basic.lc.test.ts
  e2e/autoscript-suites/src/suites/send-request-header.test.ts
  e2e/autoscript-suites/src/utilities/setup-and-go.ts
  packages/javascript-sdk/src/auth/index.ts
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/session-manager/index.ts
Labels: sdk, test

#440 fix(ping-protect): bundling
  e2e/autoscript-apps/tsconfig.app.json
  e2e/mock-api/tsconfig.app.json
  package-lock.json
  packages/ping-protect/project.json
  packages/ping-protect/src/index.test.ts
  packages/ping-protect/tsconfig.lib.json
  packages/ping-protect/vite.config.ts
Labels: root, test, NX

#441 fix(ping-protect): update-ping-protect-signals-sdk
  nx.json
  packages/ping-protect/project.json
  packages/ping-protect/src/lib/ping-signals-sdk.js
  tools/release/dev.mjs
Labels: root, NX
