Repository ForgeRock/forgerock-javascript-sdk, pull requests merged in 2024-05, with the labels that each got.

#443 fix(javascript-sdk): add logout redirect for pingone
  e2e/autoscript-apps/index.html
  e2e/autoscript-apps/src/authn-central-logout/autoscript.ts
  e2e/autoscript-apps/src/authn-central-logout/callback.html
  e2e/autoscript-apps/src/authn-central-logout/index.html
  e2e/autoscript-suites/src/suites/authn-central-logout.test.ts
  e2e/autoscript-suites/src/utilities/setup-and-go.ts
  package-lock.json
  packages/javascript-sdk/src/config/index.ts
  packages/javascript-sdk/src/config/interfaces.ts
  packages/javascript-sdk/src/fr-user/index.ts
  packages/javascript-sdk/src/oauth2-client/index.ts
  packages/javascript-sdk/src/oauth2-client/interfaces.ts
Labels: root, sdk, test

#442 build(javascript-sdk): update-build-to-vite-lib
  README.md
  e2e/autoscript-apps/src/authn-central-logout/autoscript.ts
  e2e/autoscript-apps/src/authn-central-logout/index.html
  e2e/autoscript-suites/project.json
  e2e/autoscript-suites/src/suites/authn-central-logout.test.ts
  e2e/autoscript-suites/tsconfig.json
  nx.json
  package-lock.json
  package.json
  packages/javascript-sdk/package.json
  packages/javascript-sdk/project.json
  packages/javascript-sdk/tsconfig.lib.json
  packages/javascript-sdk/vite.config.ts
  packages/ping-protect/package.json
  packages/ping-protect/project.json
  packages/ping-protect/src/lib/ping-signals-sdk.js
  packages/ping-protect/typedoc.json
  packages/token-vault/package.json
  packages/token-vault/tsconfig.lib.json
  tools/release/sdk-exports.mjs
Labels: docs, root, sdk, test, NX

#444 chore(javascript-sdk): package-versions
  packages/javascript-sdk/package.json
  packages/ping-protect/package.json
Labels: sdk

#445 chore(javascript-sdk): changelogs
  packages/javascript-sdk/CHANGELOG.md
  packages/ping-protect/CHANGELOG.md
Labels: docs, sdk
